@* Some of this content will be the same as the User/Roles page help, so make sure they stay consistent. *@
<h2>Role Groups</h2>
<h3>What's a role group?</h3>
<p>
    Role groups allow you to create a collection of roles that can be applied to any number of users.
</p>

<h3>How do I apply a role group to a user?</h3>
<p>
    This can be done from the roles tab on the specific user's page. Removing a group can be done here as well.
</p>

<h3>What happens when I apply or remove a role group to a user?</h3>
<p>
    Similar to adding/removing an individual role to a user, the user will gain/lose role access for every role
    that exists in the group.
</p>
<p>
    <strong>NOTE: A group does not override a user's individual roles. If a user has an individual role that
        matches with one in a role group, they will continue to have that role if the role group is removed
        from that user.</strong>
</p>

<h3>What happens when I update a role group?</h3>
<p>
    Any users that have the role group assigned to them will be affected by this change. So if you remove a role
    or add a new role, then any user with the role group will also have that role access removed or added.
</p>

<h3>What happens if I delete a role group?</h3>
<p>
    For any user that had this role group assigned to them, they will lose role access to whatever roles
    were included in the deleted role group.
</p>

<h3>Can a user have multiple role groups?</h3>
<p>
    Yes!
</p>

<h3>What happens if a user has multiple role groups that have the same roles? What happens if a user has an individual role 
    also appears in a role group?</h3>
<p>
    Overlapping role access is fine. As long as a user has one role, either as an individual role or as a role group role, then
    they will have access to whatever role they need. Removing an individual role or a role group will not remove access unless
    all of the roles are removed. You can see where a user's role comes from by viewing the group column on the User's roles tab.
</p>

<h3>Why are some roles highlighted in green on the edit screen?</h3>
<p>Green roles are roles that you've added to the role group but have not saved yet.</p>

<h3>I'm creating a new role group, why do I see the remove option?</h3>
<p>
    This is here in case you accidentally add a role to the new group that you don't want to keep.
    Marking it for removal will not immediately hide it on the page, but the role will not be saved.
    This is the same for any new roles you add to an existing role group.
</p>