<style>
    .heading {
        padding-top:6px;
        font-weight: bold;
        text-decoration: underline;
    }
</style>
<div>

    <p>
        <a href="https://sproutvideo.com/videos/709ad9bc121aedcaf8">How to upload or add new Image/Drawing to MapCall</a>
    </p>
    <p>
        <a href="https://sproutvideo.com/videos/e89ad9bc121aedc460">How to upload or add new Image/Drawing to MapCall </a>
    </p>
</div>
<div>
    <h3>Reports</h3>
    <div>
        <p class="heading">Service Numbers Issued</p>
        <p>
            Service Installation Purpose: New Service <br/>
            Contact Date range.</p>

        <p class="heading">Developer Services Installed</p>
        <p>
            Installed: Yes <br/>
            Developer Services Driven: Yes<br/>
            Installed Date Range
        </p>

        <p class="heading">Developer Services Not Installed</p>
        <p>
            Installed: No<br/>
            Developer Services Driven: Yes
        </p>

        <p class="heading">Overdue Rush Services</p>
        <p>
            Installed: No<br />
            Issued to Field: Yes<br />
            Priority: Emergency and Rush/3 Day
        </p>

        <p class="heading">Pending Services By Town</p>
        <p>
            Operating Center, Town<br/>
            Installed: No <br/>
            IsActive: Yes<br/>
            Service Category: Exclude - Measurement Only
        </p>

        <p class="heading">Service Billing</p>
        <p>
            Operating Center<br/>
            Work Issued To<br/>
            Invoiced: Yes <br/>
            Date Installed<br/>
            IsActive: Yes<br/>
        </p>

        <p class="heading">Service Billing</p>
        <p>
            Perform a regular search to find a service.
        </p>

        <p class="heading">T/D Issued Services Status</p>
        <p>
            Operating Center, Town<br/>
            Date Installed Range<br/>
            Contacted: Yes<br/>
            Issued to Field: Yes<br/>
        </p>
    </div>
</div>

