@model MapCallMVC.Areas.Facilities.Models.ViewModels.EditEmergencyResponsePlan

@using (Form.BeginForm("Update", "EmergencyResponsePlan", "Facilities", new {Model.Id})) {
    <div class="field-column fc200">
        @Html.Partial("_FormFields", Model)
 
        @Html.ButtonGroup(@<text>
                               @Control.SubmitButton("Save")
                               @Html.LinkButton("Cancel", "Show", "EmergencyResponsePlan", new {Model.Id})
                           </text>)
    </div>
}