@model MapCallMVC.Areas.Facilities.Models.ViewModels.CreateEmergencyResponsePlan

@using (Form.BeginForm("Create", "EmergencyResponsePlan", "Facilities")) {
    <div class="field-column fc200">
        @Html.Partial("_FormFields", Model)
 
        @Html.ButtonGroup(@<text>
                               @Control.SubmitButton("Save")
                               @Html.LinkButton("Cancel", "Index", "EmergencyResponsePlan")
                           </text>)
    </div>
}