@using MapCallMVC.Areas.FieldOperations.Models.ViewModels
@model EchoshoreLeakAlert

@if (Model.EchoshoreSite.OperatingCenter.WorkOrdersEnabled)
{
    <div style="padding: 3px;">
        @Html.ActionLink("Create New Work Order", "New", "WorkOrder", new CreateWorkOrder(_container, Model), new { area = "FieldOperations", Class = "link-button" })
    </div>
}
@(Html.TableFor(x => x.WorkOrders)
      .TemplateColumnFor("Work Order", x => Html.ActionLink(x.Id.ToString(), "Show", "WorkOrder", new{ id = x.Id, area = "FieldOperations" }, null))
      .ColumnFor(x => x.WorkDescription)
      .ColumnFor(x => x.DateStarted)
      .ColumnFor(x => x.DateCompleted))