@model TrainingContactHoursProgramCoordinator
           
@using (Form.BeginForm("Index", "TrainingContactHoursProgramCoordinator"))
{
    <div class="field-column fc200 searchFields">
        @Html.DisplayFor(x => x.ProgramCoordinator)
    </div>
}