@model MapCallMVC.Areas.Contractors.Models.ViewModels.CreateContractorInsurance

@using (Form.BeginForm("Create", "ContractorInsurance", "Contractors"))
{
    <div class="field-column fc200">
        @Html.Partial("_Form", Model)

        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Save")
            @Html.LinkButton("Cancel", "Search", "ContractorInsurance")
        </text>)
    </div>
}