@model CreatePipeDiameter

@using (Form.BeginForm("Create", "PipeDiameter")) {
    <div class="field-column fc200">
        @Html.Partial("_FormFields", Model)
 
        @Html.ButtonGroup(@<text>
                               @Control.SubmitButton("Save")
                               @Html.LinkButton("Cancel", "Index", "PipeDiameter")
                           </text>)
    </div>
}