
<h3>Valve Inspections - Required</h3>

This page counts the distinct valve inspections where the valves were inspected. 
If a valve was inspected more than once within the year only the latest inspected valve inspection will be counted. 
If a valve inspection was performed but the valve was not inspected it is not included in these counts. 
<br /><br />
<p>
    In order for a valve to require inspection the valve must have: <br/> 
    <ul style="padding-left: 8px;">
        <li>Valve Status: ACTIVE, REQUEST CANCELLATION, REQUEST RETIREMENT</li>
        <li>Billing: PUBLIC</li>
        <li>Not: BPUKPI</li>
        <li>Does not control: BLOW OFF WITH FLUSHING</li>
        <li>Does not control: BLOW OFF and have a valve size < 2"</li>
        <li>Municipal Valve Zone requires inspection for the given year.</li>
    </ul>
</p>

<p>
    <h3>Valve Sizes</h3>
    Ensure every valve has a Valve Size. They will not be counted for performed inspections if they do not have a valve size.
</p>