@model MapCall.Common.Model.Entities.BappTeamIdea

<h2>BAPP Idea Created</h2>

Date: @DateTime.Now<br/>
Creation ID: @Model.Id<br/>
BAPP Team:@Model.BappTeam<br/>
Contact:@Model.Contact<br/>
Safety Implementation Category: @Model.SafetyImplementationCategory <br/>
Description: @Model.Description<br/>
