@model MapCallMVC.Areas.Facilities.Models.ViewModels.CreateMainCrossing
           
@using (Form.BeginForm("Create", "MainCrossing", "Facilities", new {Model.Id}))
{
    <div class="field-column fc200">
        @Html.Partial("_Form")
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Save")
            @Html.LinkButton("Cancel", "Search")
        </text>)
    </div>
}