@model EditLockoutDevice
@using (Form.BeginForm("Update", "LockoutDevice", "HealthAndSafety", new { id = Model.Id }))
{
    <div class="field-column fc200">
        @Html.Partial("_Form")
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Save")
            @Html.LinkButton("Cancel", "Show", "LockoutDevice", new { Model.Id })
        </text>)
    </div>
}