@model HandleErrorInfo

@{
    ViewBag.Title = "Looks like there was a problem...";
}

<div id="errWrapper">
    <div id="errMessage">
        <div class="error-section">
            <div class="error-section-message">
                An unknown error has occurred while processing your request. A message regarding this error
                has been sent to the site administrator. Please try again later.
            </div>
        </div>
    </div>
</div>