@model MapCallMVC.Areas.Environmental.Models.ViewModels.EditChemicalStorageLocation

@using (Form.BeginForm("Update", "ChemicalStorageLocation", "Environmental", new {Model.Id})) {
    <div class="field-column fc200">
        @Html.Partial("_FormFields", Model)
 
        @Html.ButtonGroup(@<text>
                               @Control.SubmitButton("Save")
                               @Html.LinkButton("Cancel", "Show", "ChemicalStorageLocation", new {Model.Id})
                           </text>)
    </div>
}