@model MapCallMVC.Areas.Production.Models.ViewModels.TaskGroupCategoryViewModel

@using (Form.BeginForm("Update", "TaskGroupCategory", "Production", new { Model.Id }))
{
    <div class="field-column fc200">
        @Html.Partial("_Form", Model)
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Save")
            @Html.LinkButton("Cancel", "Show", "TaskGroupCategory", new { Model.Id })
        </text>)
    </div>
}
