@model MapCallMVC.Areas.Environmental.Models.ViewModels.PublicWaterSupplyFirmCapacities.PublicWaterSupplyFirmCapacityViewModel

@using (Form.BeginForm("Update", "PublicWaterSupplyFirmCapacity", "Environmental", new { Model.Id })) 
{
    <div class="field-column fc300">
        @Html.Partial("_FormFields", Model)
 
        @Html.ButtonGroup(@<text>
           @Control.SubmitButton("Save")
           @Html.LinkButton("Cancel", "Show", "PublicWaterSupplyFirmCapacity", new { Model.Id })
        </text>)
    </div>
}
