@model MapCallMVC.Areas.Environmental.Models.ViewModels.PublicWaterSupplyFirmCapacities.PublicWaterSupplyFirmCapacityViewModel

@using (Form.BeginForm("Create", "PublicWaterSupplyFirmCapacity", "Environmental")) 
{
    <div class="field-column fc300">
        @Html.Partial("_FormFields", Model)
 
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Save")
            @Html.LinkButton("Cancel", "Search")
        </text>)
    </div>
}
