<div>
    <h3>Example Help Header</h3>
    <p>A description for the example header</p>
    <ul>
        <li>List Item 1</li>
        <li>List Item 2</li>
        <li>List Item 3</li>
        <li>
            List Item 4 with lots of information to show scrolling.
            E.g. 3 months
        </li>
        <li>List Item 5</li>
    </ul>

    <h3>Example Help Link</h3>
    <P>
        <a href="@(string.Format("{0}Modules/mvc/HelpTopic/Show/46#Documents", System.Configuration.ConfigurationManager.AppSettings["BaseUrl"]))">Instructions</a>
    </P>

</div>