<h2>Training Records</h2>

<h3>Training Record</h3>
<p>
    The "Finalize" button under the "Training Record" tab will copy all Scheduled Employees over to the Attended Employees list.  Any employees who did not attend can then be removed with individual Remove buttons, and any unscheduled employees who did attend can then be added.
</p>
<p>
    The "Finalize" button will not appear for any records that already have Attended Employees added.
</p>

<h3>Employees Scheduled</h3>
<p>
    Use this tab to create a list of employees that are schedule to attend the training. 
    <strong>Note:</strong> You can only add attending employees to training records that have not been held and have not passed their scheduled time.
</p>
<p>
    Once scheduled employees are added a roster can be printed using the Forms button in the action bar menu.
</p>

<h3>Employees Attended</h3>
<p>Use this tab to mark which employees attended training.</p>

<h3>Certificate</h3>
<p>To print a training certificate for the employee, select the employee and then click print. The fields displayed here are ones that will be displayed on the certificate. If any are missing they will not be displayed on the certificate. Some may need to be set on the Training Module. If a linked employee is not displayed it is because they do not have the necessary licenses.</p>

<h3>Documents</h3>
<p>Use this tab to attach documents such as the training sign in sheet.</p>
