@model MapCallMVC.Areas.FieldOperations.Models.ViewModels.SearchOperatingCenterValveNumber

@Html.ScriptFor("~/Scripts/ValveImage/ValveLookup.js", ScriptLoadType.LoadFromPartial)
<fieldset>
    <legend>Valve Lookup</legend>

    @using (var f = Form.BeginAjaxForm("ByOperatingCenterAndValveNumber", "Valve"))
    {
        f.Ajax.OnSuccess = "ValveLookup.onSuccess";
        f.Ajax.OnFailure = "ValveLookup.onError";
        f.Ajax.OnBegin = "ValveLookup.onBegin";
        
        <div style="font-style:italic;">Enter a valve number and operating center to autofill some of the fields below based on the valve.</div>
        
        <table class="for-structure">
            <tr>
                <td>Valve Number</td>
                <td>@Control.TextBoxFor(x => x.ValveNumberSearch)</td>
                <td>@Control.DropDownFor(x => x.OperatingCenterIdentifier)</td>
                <td>@Control.SubmitButton("Look Up")</td>
            </tr>
        </table>
        
        <div>
            <span id="look-up-error" class="field-validation-error"></span>
        </div>
    }
</fieldset>