@model MapCall.Common.Model.Entities.WasteWaterSystemBasin

WWSID: <a href="@Model.WasteWaterSystem.RecordUrl">@Model.WasteWaterSystem</a><br />
Water Basin Name: <a href="@Model.RecordUrl">@Model.BasinName</a>