@model MapCallMVC.Areas.WaterQuality.Models.ViewModels.EditSampleIdMatrix

@using (Form.BeginForm("Update", "SampleIdMatrix", "WaterQuality", new {Model.Id})) {
    <div class="field-column fc200">
        @Html.Partial("_FormFields", Model)
 
        @Html.ButtonGroup(@<text>
                               @Control.SubmitButton("Save")
                               @Html.LinkButton("Cancel", "Show", "SampleIdMatrix", new {Model.Id})
                           </text>)
    </div>
}