@model MapCallMVC.Areas.ProjectManagement.Models.ViewModels.CreateEstimatingProject
           
@using (Form.BeginForm("Create", "EstimatingProject", new {Model.Id}))
{
    <div class="field-column fc200">
        @Html.Partial("_Form")
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Save")
            @Html.LinkButton("Cancel", "Search")
        </text>)
    </div>
}