@model MapCallMVC.Areas.Environmental.Models.ViewModels.CreateEndOfPipeExceedance

@using (Form.BeginForm("Create", "EndOfPipeExceedance"))
{
    <div class="field-column fc200">

        @Html.Partial("_Form", Model)
        @Html.ButtonGroup(@<text>
             @Control.SubmitButton("Save")
             @Html.LinkButton("Cancel", "Show", "EndOfPipeExceedance", new {Model.Id})
         </text>)
    </div>
}