@model ConfinedSpaceForm

<div class="form-signing-section">
    <h3>Temporary Reclassification of a Permit-Required Confined Space</h3>

    <p>
        Based upon the results of the atmospheric testing and other specific conditions present at the time of entry, it may be possible to "reclassify" a permit-required confined
        space into a non-permit space.  The following conditions must exist in order to consider this reclassification:
    </p>

    <ol>
        <li>Initial atmospheric test results are within acceptable ranges (without ventilation) and there is no potential
            for a hazardous atmosphere to develop during the entry operation.</li>
        <li>All hazards within the space can be eliminated without entry.</li>
        <li>No hazards will be introduced into the space during the entry operation.</li>
    </ol>

    <p>
        This reclassification is valid only for the specific entry being made at the date and time annotated on this form.  If employees leave the
        worksite and then return, a new permit must be completed and the space re-evaluated to ensure conditions have not changed.
    </p>


    @if (!Model.IsReclassificationSectionSigned)
    {
        <div class="signature-section signature-section-unsigned">
            <div>
                This section has not been signed.
            </div>
        </div>
    }
    else
    {
        <div class="signature-section signature-section-signed">
            <div>
                The below employee has documented that the evaluation of the space and the work to be performed met the criteria for reclassification to a non-permit status.
            </div>
            <div class="field-column fc200">
                @Html.DisplayFor(x => x.ReclassificationSignedBy, new { DisplayName = "Signed By" })
                @Html.DisplayFor(x => x.ReclassificationSignedAt, new { DisplayName = "Signed At" })
            </div>
        </div>
    }

</div>
