@model ClassLocation

@Html.Tabs().WithTab("Details", @<div class="field-column fc200">
    @Html.DisplayFor(x => x.Id)
    @Html.DisplayFor(x => x.OperatingCenter)
    @Html.DisplayFor(x => x.Name)
</div>)