<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configProtectedData xdt:Transform="Replace">
    <providers>
      <add name="customProvider"
           type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0,Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
           keyContainerName="mcDevKeys"
           useMachineContainer="true" />
    </providers>
  </configProtectedData>
  
  <location path="proxies">
    <system.web>
      <httpHandlers>
        <add verb="*" path="ESRIProxy.ashx" type="MapCall.Common.Utility.Proxies.ESRIProxy, MapCall.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" validate="false" />
      </httpHandlers>
    </system.web>
  </location>

  <system.web>
  </system.web>

  <system.webServer>
    <handlers>
      <remove name="ESRIProxy" />
      <add name="ESRIProxy" path="/proxies/ESRIProxy.ashx" verb="*" type="MapCall.Common.Utility.Proxies.ESRIProxy, MapCall.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" resourceType="Unspecified" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" requireAccess="Script" xdt:Transform="Insert" />
    </handlers>
  </system.webServer>
</configuration>