@model MapCallMVC.Areas.Production.Models.ViewModels.TaskGroupViewModel

<div class="field-column fc200">
    @Html.EditorFor(x => x.EquipmentGroup)
    @Html.EditorFor(x => x.EquipmentTypes)
    @Html.EditorFor(x => x.EquipmentPurposes)
</div>