@* Some of this content will be the same as the User/Roles page help, so make sure they stay consistent. *@
<h2>Role Groups</h2>
<h3>What's a role group?</h3>
<p>
    Role groups are a pre-defined collection of roles that can be applied to any number of users.
</p>

<h3>How do I apply a role group to a user?</h3>
<p>
    This can be done from the role groups tab on the specific user's page. Removing a group can be done here as well.
</p>
<p>
    <strong>NOTE: You must have complete user admin access to every role being applied. If you do not have access, you'll receive
        a validation error.</strong>
</p>

<h3>What happens when I apply or remove a role group to a user?</h3>
<p>
    Similar to adding/removing an individual role to a user, the user will gain/lose role access for every role
    that exists in the group.
</p>
<p>
    <strong>NOTE: A group does not override a user's individual roles. If a user has an individual role that
        matches with one in a role group, they will continue to have that role if the role group is removed
        from that user.</strong>
</p>

<h3>What happens when a role group is updated?</h3>
<p>
    Any users that have the role group assigned to them will be affected by this change. For any role that has been
    added or removed from the role group, then any user with the role group will also have that role access removed or added.
</p>

<h3>Can a user have multiple role groups?</h3>
<p>
    Yes!
</p>

<h3>What happens if a user has multiple role groups that have the same roles? What happens if a user has an individual role 
    also appears in a role group?</h3>
<p>
    Overlapping role access is fine. As long as a user has one role, either as an individual role or as a role group role, then
    they will have access to whatever role they need. Removing an individual role or a role group will not remove access unless
    all of the roles are removed.
</p>

<h3>How do I know if a user role is unique to the user or if it comes from a role group?</h3>
<p>
    The roles tab will display a link to the role group for each role that comes from a role group.
</p>

<h3>How can I see which roles are in a role group?</h3>
<p>
    If you're attempting to add a role group to a user, you can select the group from the dropdown and press
    the "View Selected Role Group" button. You can also click on the group name in the role groups tab or the user
    roles tab if you're trying to look at a group that's already applied to a user.
</p>

<h3>Can I remove a role from an individual user that comes from a role group?</h3>
<p>
    No, this is not possible.
</p>