    <h3>
        Notifications
    </h3>
    
    <p>
        If an Enforcing Agency Case Number is entered then an email will automatically be sent
        when a new record is added to all of the contacts signed up to receive them.
    </p>
    
    <br/>
    <h3>
        Overflow Requirements
    </h3>
    <p>
        If an Operating Center has a value set for Maximum Overflow Gallons, then that number
        will be used on this page. If Maximum Overflow Gallons exists and the user creates a record,
        they must enter the "Gallons Overflowed Estimated."
    </p>
    <br/>
    <p>
        If the number of "Gallons Overflowed Estimated" is greater than the
        Maximum Overflow Gallons identified on the Operating Center, then the user will be required
        to enter the Enforcing Agency Case Number which will prompt the notifications to be sent.
    </p>