@model MapCallMVC.Areas.Environmental.Models.ViewModels.WasteWaterSystems.WasteWaterSystemViewModel

@using (Form.BeginForm("Update", "WasteWaterSystem", "Environmental", new { Model.Id }))
{
    <div class="field-column fc300">
        @Html.Partial("_Form")
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Save")
            @Html.LinkButton("Cancel", "Show", "WasteWaterSystem", new { Model.Id })
        </text>)
    </div>
}