@model MapCallMVC.Areas.Environmental.Models.ViewModels.WasteWaterSystems.WasteWaterSystemViewModel

@using (Form.BeginForm("Create", "WasteWaterSystem", "Environmental", new { Model.Id }))
{
    <div class="field-column fc350">
        @Html.Partial("_Form")
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Save")
            @Html.LinkButton("Cancel", "Search")
        </text>)
    </div>
}