<h2>Training Requirements</h2>

<h3>Training Modules</h3>

<p>
    Training Modules can be linked to training requirements several ways.
</p>
<p>
    A training module must first be associated to a training requirement in order to select it for the active "initial", "recurring", or "initial and recurring"". 
    This link is performed on the @Html.ActionLink("Training Module", "Search", "TrainingModule") page.
</p>
<p>
    If there are no recurring frequency days then only a active initial training module needs to be selected.
</p>
<p>
    If there is a recurring frequency then an active recurring training module needs to be selected.
    In this case you may also choose a training module that is defined for both recurring and initial training.
</p>
<p>
    If there are no modules available you must create modules and link them to this training requirement.
    You can view which modules are linked in the training modules tab.
</p>