@model MapCallMVC.Areas.FieldOperations.Models.ViewModels.SearchRestorationTypeCost

@using (Form.BeginForm("Index", "RestorationTypeCost", "FieldOperations")) {
    <div class="field-column fc200 searchFields">
        @Html.EditorFor(x => x.OperatingCenter)
        
        @Html.ButtonGroup(@<text>
                              @Control.SubmitButton("Search").WithId("Search")
                              @Control.ResetButton()
                           </text>)
    </div>
}
