@model RestorationTypeCost

<div class="field-column fc200">
    @Html.DisplayFor(x => x.RestorationType)
    @Html.DisplayFor(x => x.Cost)
    @Html.DisplayFor(x => x.FinalCost)
    @Html.DisplayFor(x => x.OperatingCenter)
</div>