@model MapCallMVC.Areas.FieldOperations.Models.ViewModels.CreateBillingParty

@using (Form.BeginForm("Create", "BillingParty", "FieldOperations")) {
    <div class="field-column fc200">
        @Html.Partial("_FormFields", Model)
 
        @Html.ButtonGroup(@<text>
                               @Control.SubmitButton("Save")
                               @Html.LinkButton("Cancel", "Index", "BillingParty")
                           </text>)
    </div>
}