@model MapCallMVC.Areas.ProjectManagement.Models.ViewModels.ContractorLaborCostViewModel

@using (Form.BeginForm("Update", "ContractorLaborCost", new { Model.Id }))
{
    <div class="field-column fc200">
        @Html.Partial("_Form", Model)
 
        @Html.ButtonGroup(@<text>
                               @Control.SubmitButton("Save")
                               @Html.LinkButton("Cancel", "Show", "ContractorLaborCost", new {Model.Id, area = "ProjectManagement"})
                           </text>)
    </div>
}