@model MapCallMVC.Areas.ProjectManagement.Models.ViewModels.ContractorLaborCostViewModel

@using (Form.BeginForm("Create", "ContractorLaborCost", new {area = "ProjectManagement"}))
{
    <div class="field-column fc200">
        @Html.Partial("~/Areas/ProjectManagement/Views/ContractorLaborCost/_Form.cshtml", Model)

        @Html.ButtonGroup(@<text>
                               @Control.SubmitButton("Save")
                               @Html.LinkButton("Cancel", "Index", "ContractorLaborCost")
                           </text>)
    </div>
}