<div>

    <p>
        <a href="https://sproutvideo.com/videos/a09ad9bc1b12e1c328">Hydrant and Blowoff Inspections</a>
    </p>
    <p>
        <a href="https://sproutvideo.com/videos/d49ad9bc1619e0c55c">How to create a work order against a Hydrant, Valve, Opening, or Crossing mapped in MapCall</a>
    </p>
    <p>
        <a href="https://sproutvideo.com/videos/489ad9bc1619e6c0c0">How to create a work order against a Hydrant, Valve, Opening, or Crossing</a>
    </p>
    <p>
        <a href="https://sproutvideo.com/videos/a09ad9bd1314ebc628">Hydrant and Blowoff Inspections</a>
    </p>
    <p>
        <a href="https://sproutvideo.com/videos/709ad9bd141ee1c5f8">Locating Pending Hydrants</a>
    </p>
    <p>
        <a href="https://sproutvideo.com/videos/4c9ad9bd141ee1c6c4">How to find Public Hydrant Totals</a>
    </p>

    <h3>Inspection Rules</h3>
    <p>In order for an inspection to be required for a hydrant the following conditions must apply.</p>
    <ul>
        <li>Hydrant Status -> Active</li>
        <li>Hydrant Billing -> Public</li>
        <li>Has no inspections</li>
        <li>
            Inspection Frequency - A valid inspection has not been performed within the hydrant's specified frequency.
            E.g. 3 months
        </li>
    </ul>

    <br />
    <h3>Inspections</h3>
    <a href="https://mmsinc.vids.io/videos/a49bd1b5121ee4c62c/conducting-valve-inspections-within-mapcall-mp4"
       target="_blank"
       rel="noopener noreferrer">How to conduct a hydrant inspection within MapCall</a>

    <h3>Out of Service</h3>
    <p>
        Use the "Out of Service" tab to call a hydrant out of service or back into service.
    </p>
    <p>
        Notifications will be sent to any users that are signed up to receive them. They will
        receive a notification when a hydrant is called out of service and back into service.
        In addition a town can be setup to receive a notification as well. This is done by adding
        a town contact with the contact type of "Hydrant Out Of Service".
    </p>
    <a href="@(string.Format("{0}Modules/mvc/HelpTopic/Show/46#Documents", System.Configuration.ConfigurationManager.AppSettings["BaseUrl"]))">Instructions</a>

</div>