@model MapCallMVC.Areas.FieldOperations.Models.ViewModels.SearchTapImageLink

@using (Form.BeginForm("Index", "TapImageLink"))
{
    <div class="field-column fc200 searchFields">
        @Html.EditorFor(x => x.OperatingCenter)
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Search").WithId("Search")
            @Control.ResetButton()
        </text>)
    </div>
}