@using MMSINC.Utilities
@model MapCall.Common.Model.ViewModels.ShortCycleWorkOrderSafetyBriefNotificationViewModel

You are receiving this email because an FSR on your team responded No to one or more of the safety questions. Please click <a href="@Model.RecordUrl">here</a> to view the Safety Brief Form