
<p>
    <h2>Account Tab</h2>
    <h3>Completion</h3>
    <p>An order can be Completed if. </p>

    <h3>Supervisor Approval</h3>
    <p>An order can be Supervisor Approved if. </p>

    <h3>Material Approval</h3>
    <p>An order can be Material Approved if. </p>

    <h3>Cancel Order</h3>
    <p>An order can be cancelled if....</p>

    <h3>Capitalize</h3>
    <p>An order can be Capitalized if. </p>
</p>