@using MMSINC.Utilities
@model ProductionWorkOrder
@{
    var userCanCreateConfinedSpaceForms = Html.CurrentUserCanDo("New", "ConfinedSpaceForm", "HealthAndSafety");
}

@if (userCanCreateConfinedSpaceForms)
{
    <div class="container">
        @Html.LinkButton("Create Confined Space Form", "New", "ConfinedSpaceForm", new { productionWorkOrderId = Model.Id, area = "HealthAndSafety" }, null)
    </div>
}

<div class="container">
    @(Html.TableFor(x => Model.ConfinedSpaceForms)
        .TemplateColumnFor("", x => Html.ActionLink("View", "Show", "ConfinedSpaceForm", new { id = x.Id, area = "HealthAndSafety" }, null))
        // Leave the link visible. The user needs to see the "You can't edit this anymore" alert when they click it for now.
        .TemplateColumnFor("", x => Html.ActionLink("Edit", "Edit", "ConfinedSpaceForm", new { id = x.Id, area = "HealthAndSafety" }, null))
        .TemplateColumnFor("GENERAL DATE TIME", x => @<text>@string.Format(CommonStringFormats.DATETIME_WITH_SECONDS_WITH_EST_TIMEZONE, x.GeneralDateTime)</text>)
        .ColumnFor(x => x.LocationAndDescriptionOfConfinedSpace)
        .ColumnFor(x => x.PurposeOfEntry))
</div>