@using MapCallMVC.Areas.Production.Models.ViewModels

@model SearchProductionWorkOrderFromMaintenancePlan

<div>No Production Work Orders are linked to the Maintenance Plan.</div>
<br />
@Html.Partial("_CreateWorkOrderFromPlan", Model)