<div>
    <p>
        There needs to be at least one SampleSite with LeadCopperSite set to true and an associated SampleIdMatrix with a WaterConstituent of either lead or copper.
    </p>
    <br />
    <p>
        To view/print the PDF, enter a SamplePlan and view it; the PDF link will be available from the Action Bar on the righthand side of the screen.
    </p>
    <br/>
    <p>
        <strong>PDF Note</strong>
        <br/>
        Section '14. Sampling Site Pool Selection' for the 'Lead and Copper Sample Site Selection Certification'
        will display only the currently active Sample Sites that are linked to the plan. Inactive sites will not be included.
    </p>
       
</div>