
<h3>Valve Inspections - Required/Visited</h3>

This page counts the valve inspections where the valves were visited grouped by if they inspected.
If a valve was inspected more than once within the year all of them are included. 
<br /><br />
<p>
    In order for a valve to require inspection the valve must have: <br/> 
    <ul style="padding-left: 8px;">
        <li>Valve Status: ACTIVE, REQUEST CANCELLATION, REQUEST RETIREMENT</li>
        <li>Billing: PUBLIC</li>
        <li>Not: BPUKPI</li>
        <li>Does not control: BLOW OFF WITH FLUSHING</li>
        <li>Does not control: BLOW OFF and have a valve size < 2"</li>
        <li>Municipal Valve Zone requires inspection for the given year.</li>
    </ul>
</p>