@model MapCall.Common.Model.Entities.ArcFlashStudy

<a href="@Model.RecordUrl">@Model.Id</a> <br />

<text>
    The ArcFlash Study @Model.Id will expire 1 year from @DateTime.Today.ToShortDateString() please start your new study.

</text>