@model MapCallMVC.Areas.FieldOperations.Models.ViewModels.WorkOrderStockToIssue.ApproveWorkOrderStockToIssue

@using (Form.BeginForm("Approve", "WorkOrderStockToIssue", new { id = Model.Id, area = "FieldOperations" }))
{
    <fieldset>
        <div class="field-column fc200">
            @Html.EditorFor(x => x.MaterialPostingDate)
            @Html.ButtonGroup(Control.SubmitButton("Approve").WithId("approve-stock-to-issue-button"))
        </div>
    </fieldset>
}