@model EditStateRegion

@using (Form.BeginForm("Update", "StateRegion", new {id = Model.Id}))
{
    <div class="field-column fc200">
        @Html.Partial("_Form")
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Save")
            @Html.LinkButton("Cancel", "Show", "StateRegion", new {id = Model.Id})
        </text>)
    </div>
}