@model CreateEquipmentManufacturer

@using (Form.BeginForm("Create", "EquipmentManufacturer", ""))
{
    <div class="field-column fc200">
        @Html.Partial("_Form")
        @Html.ButtonGroup(@<text>
                              @Control.SubmitButton("Save")
                              @Html.LinkButton("Cancel", "Search", "EquipmentManufacturer")
                           </text>)
    </div>
}