@model MapCallMVC.Areas.FieldOperations.Models.ViewModels.EditOneCallMarkoutResponse

@using (Form.BeginForm("Update", "OneCallMarkoutResponse", "FieldOperations", new {Model.Id})) {
    <div class="field-column fc200">
        @Html.Partial("_FormFields", Model)
 
        @Html.ButtonGroup(@<text>
                               @Control.SubmitButton("Save")
                               @Html.LinkButton("Cancel", "Show", "OneCallMarkoutResponse", new {Model.Id})
                           </text>)
    </div>
}