<div>

    <p>
        <a href="https://sproutvideo.com/videos/d49ad9bc1619e0c55c">How to create a work order against a Hydrant, Valve, Opening, or Crossing mapped in MapCall</a>
    </p>
    <p>
        <a href="https://sproutvideo.com/videos/489ad9bc1619e6c0c0">How to create a work order against a Hydrant, Valve, Opening, or Crossing</a>
    </p>
    <p>
        <a href="https://sproutvideo.com/videos/1c9ad9bd141ee1ca94">Locating Pending Valves</a>
    </p>
    <h3>Inspections</h3>
    <a href="https://mmsinc.vids.io/videos/7c9bd1be1a1ae4c7f4/conducting-valve-inspections-within-mapcall-mp4"
       target="_blank"
       rel="noopener noreferrer">How to conduct a valve inspection within MapCall</a>

    <h3>Turns</h3>
    <p>Follow the <a href="@(string.Format("{0}Modules/mvc/HelpTopic/Show/266", System.Configuration.ConfigurationManager.AppSettings["BaseUrl"]))" target="_new">Instructions</a> here for help on setting the number of turns. Use the documents tab to view a chart for the correct selection.
</div>