@model Valve

@{
    var inspections = Model.BlowOffInspections.OrderByDescending(x => x.DateInspected);
}

@if (Model.IsInspectable && Model.OperatingCenter.IsActive)
{
    @Html.AuthorizedActionLinkButton("New Blow Off Inspection", "New", "BlowOffInspection", new { id = Model.Id })
}
else
{
    <div class="notification notifications-warning">
		<div class="message">New inspection records can not be created for assets that are cancelled, inactive, retired, or removed.</div>
    </div>
}
@(Html.TableFor(x => inspections, new { id = "blow-off-inspections-table"})
    .TemplateColumnFor(x => @Html.ActionLink("View", "Show", "BlowOffInspection", new { x.Id }, null))
    .ColumnFor(x => x.DateInspected)
    .ColumnFor(x => x.InspectedBy)
    .ColumnFor(x => x.HydrantInspectionType)
    .ColumnFor(x => x.FullFlow)
    .ColumnFor(x => x.GallonsFlowed)
    .ColumnFor(x => x.StaticPressure)
    .ColumnFor(x => x.WorkOrderRequestOne)
    .ColumnFor(x => x.WorkOrderRequestTwo)
    .ColumnFor(x => x.WorkOrderRequestThree)
    .ColumnFor(x => x.WorkOrderRequestFour)
 )

