@using MMSINC.Utilities
@model MapCall.Common.Model.Entities.Employee

@{
    var employee = Model;
}
<h2>New Hire Email Notification</h2>

Employee: @employee.FullName
<br />
Employee Id: @employee.EmployeeId
<br />
Date of Hire: @employee.DateHired
<br />
Position Group: @employee.PositionGroup
<br />
Supervisor: @if (employee.ReportsTo != null)
{@employee.ReportsTo.FullName}