@model MapCallMVC.Areas.Environmental.Models.ViewModels.CreateChemicalInventoryTransaction

@using (Form.BeginForm("Create", "ChemicalInventoryTransaction", "Environmental")) {
    <div class="field-column fc200">
        @Html.Partial("_FormFields", Model)
 
        @Html.ButtonGroup(@<text>
                               @Control.SubmitButton("Save")
                               @Html.LinkButton("Cancel", "Index", "ChemicalInventoryTransaction")
                           </text>)
    </div>
}