#adminPanelButton {
    background: transparent url('Resources/Png?file=Icons/admin-panel-20x20.png') no-repeat top left;
    display:block;
    border: none;
    width:20px;
    height:20px;
    max-height: 20px;
    padding: 0px;
    border-radius: 0px;
}

#adminPanel 
{
    display:none; /* is set to block by script */
    background: white;
    z-index:99999;
    position:absolute;
    top:32px;
    left:12px;
    border-radius: 2px;
    width:300px;
    border-left: solid 1px #d8d8d8;
    border-right: solid 1px #d8d8d8;
    border-bottom: solid 2px #d8d8d8;
    padding: 6px;
}

#adminPanel  h3 {
    display:block;
    padding: 6px;
    margin: 0px;
    margin-bottom:12px;
    border-bottom: solid 1px #d8d8d8;
    font-weight:400;
    font-family:"Roboto";
}

