@model MapCallMVC.Areas.FieldOperations.Models.ViewModels.CreateFunctionalLocation

@using (Form.BeginForm("Create", "FunctionalLocation", "FieldOperations", new {Model.Id}))
{
    <div class="field-column fc200">
        @Html.Partial("_Form")
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Save")
            @Html.LinkButton("Cancel", "Search")
        </text>)
    </div>
}