@model MapCallMVC.Areas.Events.Models.ViewModels.CreateEventType
@using (Form.BeginForm("Create", "EventType", "Events"))
{
    <div class="field-column fc200">
        @Html.Partial("_FormFields", Model)

        @Html.ButtonGroup(@<text>
                              @Control.SubmitButton("Save")
                              @Html.LinkButton("Cancel", "Index", "EventType")
                           </text>)
    </div>
}