<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configProtectedData xdt:Transform="Remove">
    <providers>
      <add name="customProvider" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0,Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" keyContainerName="mcQaKeys" useMachineContainer="true" />
    </providers>
  </configProtectedData>
  <appSettings configProtectionProvider="customProvider" xdt:Transform="Replace">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>B/u0F2Au4ZtI5tilH8L42b0JShk/8slQN+T3hXZ89JCzbW+nmAbEiSJaCpPHM26vCWzZhaAdX5SusWtKRBJfEB/2xeIlwY5c7Pod+qry7fLK9ulRrpaqiHsTjbgbxtJZn+zcjvvF9Pyw85FBdVoTc9jZAiv3SVz/fZqhNjzkBaI=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>9QdG1rP4CKd1IPBuwcBXS3oHqrMo2x+ElKodyul5COF2OsUQ/ZBipUrDrFVL2IBAAvmPCwBTN34FApQvY/hrLpULlGkoVR9PMaNlIOQ/qWThIUA09xr5vVIDflku4AuPCQpnOLcByFXg4UElALbXOOj6fHVYO9utDnB0SCYPKoZQcRRzE55OW4CNQxSHEgwyNvhfLIIxzBzf0hyy559xHvo9kAyIN6/PPLSw3sJP5GjbqsO7nIxh69v4c6pTOoBe22gnvN2mtW6TnCR8YW+2HxUIPh4H1s+X6fXmdRfshs/1We5VRAP99lv7Onz1T2pzaGOu7rhuA16jesJJ2mha9sInP/ramDnSBCbG5yNH+iTr3TWDoQ9XACizytUfe6Wg37n1tZfCtz70ypvFXz9uTg==</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="noreply@mapcall3.amwaternp.com" xdt:Transform="Replace">
        <network host="mail.amwaternp.net" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings configProtectionProvider="customProvider" xdt:Transform="Replace">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>JX9fTotiic9uYIkD5wUR8sGld4jvIw0gNxksT1OgnT3hCbhPwSCek7Myl1PncECZ3CD3DoT0OmKYMbhFn8FYJshA1SfLxUiIPJ6akehucrJjrZRyHf8GD7UoDOAcbE/8zybJ4UsAQAQQbSFJYBm7A2wsx/a1Jpv7Nq6k6ucsuhU=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>GmNUuehLpmCMBrPt+2oba15qrUUP1IDm46Imniu18lFSMGeVfs6SzrD8XnUzT86C</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On" defaultRedirect="exceptionhandler.aspx" xdt:Transform="InsertBefore(pages)" />
    <roleManager xdt:Transform="Remove" />
    <httpModules>
      <add name="ErrorModule" type="MMSINC.Utilities.ErrorHandling.ErrorModule" xdt:Transform="Insert" />
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" xdt:Transform="Remove" />
    </httpModules>
    <webServices xdt:Transform="Remove" />
    <membership xdt:Transform="Remove" />
  </system.web>
</configuration>