<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configProtectedData xdt:Transform="Remove">
    <providers>
      <add name="customProvider"
           type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0,Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
           keyContainerName="mcQAKeys"
           useMachineContainer="true" />
    </providers>
  </configProtectedData>
  <appSettings configProtectionProvider="customProvider" xdt:Transform="Replace">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
                   xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>1RDrGZ0hKdcr1ICUbl9kkke86Npn5RnC1J8OT0k1zPTELT0SAEaXBwyJwbs3HC8SvBsMV/54VPwSa9bwOrdIhAlnYdEbSE/k0KiXJl+Ho9Ykh7jHTWgIxK86axkyfhxXk8ysY2C1cbH8Y4laWymaKMuQHKqFwDRlTPUp6N2L+l8=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>5XH2BrMy3kNYgm61cS9k9dFHT4XN455H771l1rTiVcidr8xI3gMsoCagmIJKd4psVCWxY1p9E/DddIABzRfLFBfHCUmYmuK3FQBDf+UbUhbHnDPV/po6flmGRF4GTUtgW7/0Z3t4dRSOTcpFKNRhDBG/v5SMg2eEWv/GtRuZpN+tu44PeElINVQAFaVXewep5W2jolgRcmzREw4KRZeEYv+HAw0jX78YTA6vo1rbwmfnIMqwdNKrm1Y3gQbg1BxQaSfF8uE1LoK5czSoD4XTlkYPZLanrrIdsw4Q9iybIgwW+W+2aKowbJu/OQasSHIcfpfbWvojsjFDy1QjbYxbSmeqUXrfWt4sU+djhuYZhlubodXwJvdJG7eVqei4yzPp0kzf0QJqQh3muV3KY9EMMQ==</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="noreply@mapcall.amwaternp.com" xdt:Transform="Replace">
        <network host="mail.amwaternp.net" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings configProtectionProvider="customProvider" xdt:Transform="Replace">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
                   xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>cLw7htVuh8ug+8BxMb49XpKNF5qIAB+XMvzTtFDCtIZt+jUrnUTtMqVI85uWL8UZE4bh9ER7wP4+X5ZnzYW2U85fu0qmznrE7i66O3y2GfYC81GGXp0O4VdVMyUegQDQkXJx3kecKMDMFbNFfjG4ELfwGAmrJd+RaT7gFm04odY=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>IbxIT+PdbupvUWvAhMFnkFgwiXabg+q4K5A6hTIv5zTE/rtGdEElHLJOm3+4prTr</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On" defaultRedirect="exceptionhandler.aspx" xdt:Transform="InsertBefore(pages)" />
    <roleManager xdt:Transform="Remove" />
    <httpModules>
      <add name="ErrorModule" type="MMSINC.Utilities.ErrorHandling.ErrorModule" xdt:Transform="Insert" />
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" xdt:Transform="Remove"/>
    </httpModules>
    <webServices xdt:Transform="Remove"/>
    <membership xdt:Transform="Remove" />
  </system.web>
</configuration>
