<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" xdt:Transform="Remove" xdt:Locator="Match(name)" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" xdt:Transform="Remove" xdt:Locator="Match(name)" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <configProtectedData xdt:Transform="Remove">
    <providers>
      <add name="customProvider"
           type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0,Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
           keyContainerName="mcProdKeys"
           useMachineContainer="true" />
    </providers>
  </configProtectedData>
  <appSettings configProtectionProvider="customProvider" xdt:Transform="Replace">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
                   xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>gjVWYgSnKtuoWz92WY/dYU/4xulPhpzX3pZMqZQrSxn7ZF3l/I7lKAzuJbhlwGHtSctmj7Rx3wFP6w9n2K6Pgj3t1PdnYVveRyPxuavnLLFhyzMzr1oKLHAT/wXnc1ahoXmztDPzq1rUqkKIHWy1L3xhOS1jzksIyjCfhcpz64Q=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>Rro2HppMiJCtzhJZNTvhj9plY1qDSIvke4bR/Jjjj27ycns5w8OzJsrkzp3847ExTn7XWTkA375aYuEzLURY6l3hJqPHxmSzVv3+ImZp7XycC7FlvBXW8JSYR+3RuZAjyiPDJmbmGkYy+wCaClicBKa3VTKprACehBxREdy4iR6fHX+7tahrk0i64sQ2PM2RZEFLmi6fes/X69cU2N2f5ZdyrKqHgeq4wiWNfC6CHVg+hr8YEJ95fEVbDTr/MrcmGN/ia+VThEfb4AXCIG8ToUwQbLGhtF2IpKiSIvJJq1iKxgcgsRWo5WzUMoVbVPfUDw0/0VrvIgMpqB2un5S7AMe7D/3l9mKXXe4t7GitnrC4oM9dRu1zSnxLluHoyRFbLzCIeLtJ88hNT+eHV00jF5d0PTP8ErVSbOs4sDkevURTFr6XW4Tb2bQWKeauHRNEyj/PUo9Cn/Y+5iJK1utd6a0mU6EaQTKSZ+rpCgB2WKSeqyvT+ARL0xM5O6qz3LYEUMhARLxh1ulnUZnFmPipO1nibDVhOtUMtV38VBwnpv1iCNgdUhyxMJkJ+JDe+kpU5SKnl9m4XizOK47GpXjKqw2OfMJkO9BB0HKBk2Gt0nQ4KJuEoKIPL4hu8WzxhPazfW71rOlIbUHe490euLKpWKkgcZ39L0fMMgjwjidPOW2y0Wpsetz4mQXSbJzKrpyfSu0LmLpGjs/ruJkQSitKBCQ+n1NQR2wZL3seSxjVnfnSk3ZnOV8syTbi35hORnZfK0dSES3Z9PKLTHKgZNPy4HzV9FuXl3dFacViOf5giR0qArEFOh4RDGlNEQYxCrr+</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
  <connectionStrings xdt:Transform="Remove">
    <clear/>
    <add name="MCProd" connectionString="" providerName="System.Data.SqlClient" xdt:Transform="Remove" xdt:Locator="Match(name)"/>
    <add name="ProductionSqlServer" connectionString="" providerName="System.Data.SqlClient" xdt:Transform="Remove" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <roleManager connectionStringName="MCProd" xdt:Transform="Replace" />
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="noreply@mapcall.amwater.com" xdt:Transform="Replace">
        <network host="mail.amwater.net" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="RemoteOnly" defaultRedirect="exceptionhandler.aspx" xdt:Transform="InsertBefore(pages)" />
    <httpRuntime requestValidationMode="2.0" xdt:Transform="InsertBefore(authentication)" />
    <roleManager xdt:Transform="Remove" />
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" xdt:Transform="Remove" />
      </controls>
    </pages>
    <httpHandlers>
      <add verb="*" path="*.css" type="MapCall.Common.Web.ResourceHandler, MapCall.Common.WebForms, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" xdt:Transform="Remove" xdt:Locator="Match(path)" />
      <add verb="*" path="*.ico" type="MapCall.Common.Web.ResourceHandler, MapCall.Common.WebForms, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" xdt:Transform="Remove" xdt:Locator="Match(path)" />
      <add verb="*" path="*.js" type="MapCall.Common.Web.ResourceHandler, MapCall.Common.WebForms, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" xdt:Transform="Remove" xdt:Locator="Match(path)" />
      <add verb="*" path="*.png" type="MapCall.Common.Web.ResourceHandler, MapCall.Common.WebForms, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" xdt:Transform="Remove" xdt:Locator="Match(path)" />
    </httpHandlers>
    <httpModules>
      <add name="ErrorModule" type="MMSINC.Utilities.ErrorHandling.ErrorModule" xdt:Transform="Insert" />
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" xdt:Transform="Remove"/>
    </httpModules>
    <webServices xdt:Transform="Remove"/>
    <membership xdt:Transform="Remove" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2048000" xdt:Transform="Replace" xdt:Locator="XPath(/configuration/system.web.extensions/scripting/webServices/jsonSerialization[@maxJsonLength=204800])" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <location path="Resources" xdt:Transform="InsertBefore(runtime)">
    <system.web>
      <httpHandlers>
        <add verb="*" path="*.css" type="MapCall.Common.Web.ResourceHandler, MapCall.Common.WebForms, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <add verb="*" path="*.ico" type="MapCall.Common.Web.ResourceHandler, MapCall.Common.WebForms, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <add verb="*" path="*.js" type="MapCall.Common.Web.ResourceHandler, MapCall.Common.WebForms, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <add verb="*" path="*.png" type="MapCall.Common.Web.ResourceHandler, MapCall.Common.WebForms, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </httpHandlers>
    </system.web>
  </location>
</configuration>
