<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configProtectedData xdt:Transform="Remove">
    <providers>
      <add name="customProvider"
           type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0,Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
           keyContainerName="mcQAKeys"
           useMachineContainer="true" />
    </providers>
  </configProtectedData>
  <appSettings configProtectionProvider="customProvider" xdt:Transform="Replace">
	  <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
	                 xmlns="http://www.w3.org/2001/04/xmlenc#">
		  <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
		  <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
			  <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
				  <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
				  <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
					  <KeyName>Rsa Key</KeyName>
				  </KeyInfo>
				  <CipherData>
					  <CipherValue>fRLLMZ5qYjEh34fCYT7j9X5TFkqKnbAcslstiHf+TlwLcB0xgOpe+EFAhfXDajQEOXU9U2K7A0eMKqy4UAzK5o1aN8iZFIc7DgB4RqcU/rD+q2VhuC3ngUw45alTk/nz8swVGk90FzLByJl3OFhfU6onlJ7bz4Dyk3rQLcv6cDM=</CipherValue>
				  </CipherData>
			  </EncryptedKey>
		  </KeyInfo>
		  <CipherData>
			  <CipherValue>ZnIo40ZtA2iRw77L8Ia+XwSFeQZxT+Wd6xLHxrXoFAzZl4My2ORpX3G7o9Rz7PhHqKYHXT2j5vAR6aIPTFYOO4SLorDh8drdkxtfVSCaEwTKMNlXKIQbDSCMS8ZtRsv5zwERYgFMqsdg/VY8A1Cu455BAWAhEsxBR7WJy9vZeq2iPPkLVcNL1R2gExlboxPAV36Dtrpv5adWlVUG8D0F59oB64QL0P/Xt7mxSEyXlXjWD1tMCJDL+/sTlm+GrYY59Au/SrVs0hiNb0fm96vB2hl3O4xR/3SxEO+VRPtNH7K271WAJhEU66T9fLQe4GG+v9wxVSVXz00xlUuhXZlGLLlV0F+/bKqm1law+koXCVq7UGLUCvLTlZIiTaGgcUN2aQ3WNonSRednrwMyHnltjQ==</CipherValue>
		  </CipherData>
	  </EncryptedData>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="noreply@mapcall2.amwaternp.com" xdt:Transform="Replace">
        <network host="mail.amwaternp.net" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings configProtectionProvider="customProvider" xdt:Transform="Replace">
	  <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
	                 xmlns="http://www.w3.org/2001/04/xmlenc#">
		  <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
		  <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
			  <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
				  <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
				  <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
					  <KeyName>Rsa Key</KeyName>
				  </KeyInfo>
				  <CipherData>
					  <CipherValue>M5KodNjuC0Hqyds6EtyqBa0CRGed8bPl2lKfX5SRw4Ru9NvzqIGEJrK2O1ZLSvut++qKxeTTz8/xnCSOGU2gjgVAls1mhWgv8JyBg2uVy86+C5D0DdjGvKvLmZxZzFGLMLx8W5KI0CpD56GZdEFkxg1Zqx/7wyLHl5d2LlQ6obU=</CipherValue>
				  </CipherData>
			  </EncryptedKey>
		  </KeyInfo>
		  <CipherData>
			  <CipherValue>/cXKS0ZT9EkV0B+LFp95p9DZ1anhRzqBv/HMgBk4TSgv3GHvo4QGl92EEC6+4avw</CipherValue>
		  </CipherData>
	  </EncryptedData>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On" defaultRedirect="exceptionhandler.aspx" xdt:Transform="InsertBefore(pages)" />
    <roleManager xdt:Transform="Remove" />
    <httpModules>
      <add name="ErrorModule" type="MMSINC.Utilities.ErrorHandling.ErrorModule" xdt:Transform="Insert" />
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" xdt:Transform="Remove"/>
    </httpModules>
    <webServices xdt:Transform="Remove"/>
    <membership xdt:Transform="Remove" />
  </system.web>
</configuration>