<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configProtectedData xdt:Transform="Remove">
    <providers>
      <add name="customProvider"
           type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0,Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
           keyContainerName="mcQAKeys"
           useMachineContainer="true" />
    </providers>
  </configProtectedData>
  <appSettings configProtectionProvider="customProvider" xdt:Transform="Replace">
	  <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
	                 xmlns="http://www.w3.org/2001/04/xmlenc#">
		  <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
		  <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
			  <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
				  <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
				  <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
					  <KeyName>Rsa Key</KeyName>
				  </KeyInfo>
				  <CipherData>
					  <CipherValue>x3W7zPA00UGbugCJpF+C4JYe/oIDwqWIhRIsU5oozHS3Xzzf2kQIr/rULBHmJNfk4fR3SOYKUShHIHk9x9qu9qSVDXmDahyt4TQzQ4fuYmiL+gIN+7dpWvS/0g5J4BWELP3BApJSTCKaTqPZjbT7ik+NtB4qXaYN4darZRK08Mg=</CipherValue>
				  </CipherData>
			  </EncryptedKey>
		  </KeyInfo>
		  <CipherData>
			  <CipherValue>LNhZ9sVAnciaobtGPKinIpcQpgzTdeMqaDi5FCPAP+IghTGNcsdudy5kNr6QwTNq3Fewo4t0O++CU3KhCHDaWwDoZypzKbHa+W9cT9+egBHzQWl4PVemhDq06iIMsS6YCEMfUrac0L5zMVhXUZQG1VO/CWS5lN8Gp5Ye+qHRRO+QJ4OyPUmJd8Qa/IC6F5axvDhfwdOpdBNtLwBTZf492FmqlG1IY4FazwEwYhWwW3iKU+rnoQk2b71WWFj7Onvg49hffd5NfbWMVRd5hVAGTh5orhjKcE3wUSNt24InjsLzm6z9scKigFNq9dE0EMErOODO2EHRjDhziklSSBsixkHoZuQ/E16JBNJ9+RCW0snSn59otdcxswuLrfXYQ1UT4cuPS1la/lYj0VoIfyjqom0iLRU/0BF2yYeB7oYO2oTCW0DHkvUBYxqYWePeQE3UYCTpz0ymrJA5gOKLVxbHhCzoSfWiijDqZYhW5vG89AryQtJbV/0k6mpZZz4PEEmuKITJxw7HEkA7K+iIgI7bJAQHPr2tvEc+0zA2cs+kCHJZvNUsK+1A5QCSb3PxhoaxGEKaqlnD9hP3CFTbc1b9FN5wQgXxsN4AnnzFu7yl97rkGqO4XlKGv4Rh/T2EItAM7GKH8eGLVzw8CSOgmd/qQCEY98qBmEz1OGjCeSwuflvj6NjC00Vv3AuNztJDJhyT</CipherValue>
		  </CipherData>
	  </EncryptedData>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="noreply@mapcall.amwaternp.com" xdt:Transform="Replace">
        <network host="mail.amwaternp.net" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings configProtectionProvider="customProvider" xdt:Transform="Replace">
	  <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
	                 xmlns="http://www.w3.org/2001/04/xmlenc#">
		  <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
		  <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
			  <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
				  <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
				  <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
					  <KeyName>Rsa Key</KeyName>
				  </KeyInfo>
				  <CipherData>
					  <CipherValue>zdlkxNBkZj/R2PRcWufleAxpft9V/mP5xkJkBJqqJYx2kneFM4g36nw7qTEVVI8kAshkxI14+12oFFL19sUtkfB1EyLA4la35I96dKjQhxltPGuBd1Lq+169dY6nlFFQcA7valCAh5gSSaX3rgTUmsL1L0QmFwQZWcPWwlbQTlg=</CipherValue>
				  </CipherData>
			  </EncryptedKey>
		  </KeyInfo>
		  <CipherData>
			  <CipherValue>yrFY4lxctEQ1z1HcyL/lBCoci97KfYC8tN2ZCY2vM5X8iXTY5ceE47JqAix76gVl</CipherValue>
		  </CipherData>
	  </EncryptedData>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On" defaultRedirect="exceptionhandler.aspx" xdt:Transform="InsertBefore(pages)" />
    <roleManager xdt:Transform="Remove" />
    <httpModules>
      <add name="ErrorModule" type="MMSINC.Utilities.ErrorHandling.ErrorModule" xdt:Transform="Insert" />
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" xdt:Transform="Remove"/>
    </httpModules>
    <webServices xdt:Transform="Remove"/>
    <membership xdt:Transform="Remove" />
  </system.web>
</configuration>
