<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configProtectedData xdt:Transform="Remove">
    <providers>
      <add name="customProvider" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0,Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" keyContainerName="mcQaKeys" useMachineContainer="true" />
    </providers>
  </configProtectedData>
  <appSettings configProtectionProvider="customProvider" xdt:Transform="Replace">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>tEBWk58M35mQ0H8jjHxjcadYKZhQdjbBxzSLhgfONtoVMKtjeGc4YS2ye3T0tmxve3JldERd88jpWnaIjMRSwnKbUkFfEuzAr5mHVG1d+i/IPhU9rgKXCQJU7QANabKfFkz6/ZQOvqNiFQla3DJz7tJtpp2XRF/JRtFu9roD24c=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>DzA1KwyeYeTRUNqND9fM0f//pNXsOgJvxv/B9rYQmT33648L4dimv02PmQ4Drp+vJTK8u2xjgcx69NWaKvX03HkCEKQCS/mhGsfBcLWWXSbAvJmmkNfm3ABC87PEOjJB2BsizwOxf0JQdyeIDbe0bb4KOmQKfKc5rHmgah+1ymy/gAJDtgJLnpoe8BIfwSUJaHA0FVHuIG9fHnW1X8yRSkMLeZDoZ3SIZhwvrOaZ7fnFcp9NVApMCIHpxvEBN0Wa20KqqyQRqvnDZWwlVJ+4qEQ2LIp4XWkOEaIOgByV3H0BdAm8KuOiDv23x0kCLVaP0W2bamqtBw/X0KLKkhzhJFpIv6nAZ3EF5iLrdg0biifso5Rlmvtb2VB/lT09TytM3+XD1IcB6bdsp1EzmJ87qQ==</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="noreply@mapcall3.amwaternp.com" xdt:Transform="Replace">
        <network host="mail.amwaternp.net" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings configProtectionProvider="customProvider" xdt:Transform="Replace">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>YFQ02iU0LeUc5m50471FKnbnOahddcoAthZ9+hGoV0mrFIvbKDPw3TIK98sDqQYmYxYz0SSV0dDEv5A/S2JP7h6RJ/K4ubti3HXlazw0vh6sOaIiaY7l1V0r/AbzLsTOf5zkUZv4bVrEr5g3KNvh5L7DJynUiEh3Req/UO1o+uM=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>RZyu0NKdpnC+qZFj2jEifXsJvN/ms8+GC5GFezHEhKMkMWyce/ey2E8tkLyMVEqa</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On" defaultRedirect="exceptionhandler.aspx" xdt:Transform="InsertBefore(pages)" />
    <roleManager xdt:Transform="Remove" />
    <httpModules>
      <add name="ErrorModule" type="MMSINC.Utilities.ErrorHandling.ErrorModule" xdt:Transform="Insert" />
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" xdt:Transform="Remove" />
    </httpModules>
    <webServices xdt:Transform="Remove" />
    <membership xdt:Transform="Remove" />
  </system.web>
</configuration>