<?xml version="1.0"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings configProtectionProvider="customProvider">
    <EncryptedData xmlns="http://www.w3.org/2001/04/xmlenc#" Type="http://www.w3.org/2001/04/xmlenc#Element">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc"/>
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p"/>
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>zeEKCcbXfIeC+EBfqQb+XrhGIKlez2qtplcwj3mgEvVYkFLDksdsrGGesCO4QDf62I9i+u+mT/rFBigikBAvsXquPBYvsjgn3RYUhRjFoqWkSJvaqpVLDWAFOrPNPX0gnsTpq9pkhuFXQuRwQRH4uCaAtRcZNiOQxSx2ZENVIgc=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>L/WfKce4erekK2zr8fu+frwCUZ+tY99xP0HMEsYcCWn6Ml27K+IKUfSAaI1k0EODf4vB7+nqWBKTAfO/AyV7io+UnBMPYTwjRJBotkvwzgHRg4mGfEXdot8BZxXIE21IJtIjWZ6UnTVBN4c5FhyCXuZ8icljBtkWvZ8iC/8P/tYPGQkuoQbyVXuvCWHR3z2rRfiVaVxyu7BBgFC1gzeEkb1d9vv5ldN8VJaORkdroScwuSTlF56VdUP9g2uPo+C3EkgF8Ggg7cTbO2p0c0L+cE68wDtnlekZo8qI+F9vsHaNHDg2PUpDVl9FEovjnjkBK/1CQf8w5MT8ieZbgHm0LT0m6ny9ECxpScN1OSTJcnshZmA82zizy2ZE8yFWDXnXe5wefoLaWyQx/GEJj239LQ==</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
  <connectionStrings>
    <add xdt:Transform="Remove"/>
  </connectionStrings>
  <system.webServer>
    <handlers>
      <add verb="*" path="*.css" type="MapCall.Common.Web.ResourceHandler, MapCall.Common.WebForms, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" xdt:Transform="Insert"/>
      <add verb="*" path="*.ico" type="MapCall.Common.Web.ResourceHandler, MapCall.Common.WebForms, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" xdt:Transform="Insert"/>
      <add verb="*" path="*.js" type="MapCall.Common.Web.ResourceHandler, MapCall.Common.WebForms, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" xdt:Transform="Insert"/>
      <add verb="*" path="*.png" type="MapCall.Common.Web.ResourceHandler, MapCall.Common.WebForms, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" xdt:Transform="Insert"/>
    </handlers>
  </system.webServer>
</configuration>
