@model MapCallMVC.Areas.FieldOperations.Models.ViewModels.CreateSpoilStorageLocation

@using (Form.BeginForm("Create", "SpoilStorageLocation", "FieldOperations"))
{
    <div class="field-column fc200">
        @Html.Partial("_Form")
        @Html.ButtonGroup(@<text>
                              @Control.SubmitButton("Save")
                              @Html.LinkButton("Cancel", "Search")
                           </text>)
    </div>
}