@model MapCall.Common.Model.ViewModels.SystemDeliveryEntryDueNotification

<h2>System Delivery Entry is due for the following</h2>

Operating Center: @Model.OperatingCenter <br />

Facility: @Model.Facility <br />