@model PublicWaterSupply
@{
    var canAddRemoveOperatingCenters = Authentication.CurrentUserIsAdmin;
}

@if (canAddRemoveOperatingCenters)
{
    @Html.Partial("_AddOperatingCenterPublicWaterSupply", ViewModelFactory.BuildWithOverrides<CreateOperatingCenterPublicWaterSupply>(new { PublicWaterSupply = Model.Id }))
}

<table id="operatingCenterTable">
    <thead>
        <tr>
            <th>Operating Center</th>
            <th>Abbreviation</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var oct in Model.OperatingCenterPublicWaterSupplies)
        {
            <tr>
                <td>@oct.OperatingCenter</td>
                <td>@oct.Abbreviation</td>
                <td>
                    @using (Form.BeginForm("Destroy", "OperatingCenterPublicWaterSupply", new { id = oct.Id }))
                    {
                        if (canAddRemoveOperatingCenters)
                        {
                            @Control.SubmitButton("Remove Operating Center").With("onclick", "return confirm('Are you sure?');")
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>