<h2>Meter Change Outs</h2>
<h3>Pit Meters</h3>
<p>
    [Meter Read Comment 4] = 'outside' <br/>
    [Has Status] = 'No'
</p>

<h3>Importing</h3>
<p>
    Field Operations - Water (Potable) - Meter Change Out Contracts then select 'Add' from the action bar on the right.
    This will allow you to select an xls file to import. This file must be cleaned and match the upload format.
</p>

<h3>PDF</h3>
<p>
    You can generate one or more Meter Service Order PDFs for printing for the crews in the trucks. 
    The 'PDF' button the action bar will appear when you have search results or a single order visible.
</p>

<h3>Reset Search</h3>
<p>
    Click anywhere on the search page that is not an html element and press SHIFT+R</p>

<h3>Exporting and Marking as Exported</h3>
<p>
    By default when export is clicked for results, any records in the results will have their
    'Click Advantex Updated' field automatically set to the value used in the search for - Mark Advantex Export.
    
    You can toggle them on or off this way or choose to do nothing when exporting.
</p>