@model MapCallMVC.Areas.FieldOperations.Models.ViewModels.SearchContractorMeterCrew

@using (Form.BeginForm("Index", "ContractorMeterCrew"))
{
    <div class="field-column fc200 searchFields">
        
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Search").WithId("Search")
            @Control.ResetButton()
        </text>)
    </div>
}