@model MapCallMVC.Areas.WaterQuality.Models.ViewModels.EditWaterQualityComplaintSampleResult

@using (Form.BeginForm("Update", "WaterQualityComplaintSampleResult", "WaterQuality", new {Model.Id})) {
    <div class="field-column fc200">
        @Html.Partial("_FormFields", Model)
 
        @Html.ButtonGroup(@<text>
                               @Control.SubmitButton("Save")
                               @Html.LinkButton("Cancel", "Show", "WaterQualityComplaintSampleResult", new {Model.Id})
                           </text>)
    </div>
}