@model MapCallMVC.Areas.Production.Models.ViewModels.SkillSetViewModel

<div class="field-column fc200">
    @Html.EditorFor(x => x.Name)
    @Html.EditorFor(x => x.Abbreviation)
    @Html.EditorFor(x => x.IsActive)
    @Html.EditorFor(x => x.Description)
</div>