@model object

<style>
    .workorders-table-legend td.color-block {
        height: 30px;
        width: 150px;
        text-align: center;
        border: none !important;
    }
</style>
<table class="workorders-table-legend" style="margin-bottom:6px;">
    <tr>
        <td class="color-block wo-scheduled-previously">Previously Scheduled</td>
        <td class="color-block wo-scheduled-currently">Currently Scheduled</td>
    </tr>
</table>

