@model MapCallMVC.Areas.Environmental.Models.ViewModels.CreateAllocationPermit

@using (Form.BeginForm("Create", "AllocationPermit", "Environmental", new {Model.Id}))
{
    <div class="field-column fc200">
        @Html.Partial("_Form")
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Save")
            @Html.LinkButton("Cancel", "Search")
        </text>)
    </div>
}