@using MapCallMVC.Areas.FieldOperations.Models.ViewModels
@model MeterChangeOutContract

@{
    var orders = Model.MeterChangeOuts.Take(100).OrderBy(x => x.Id);
}

<div class="collapse-panel" data-title="Import Meter Change Outs">
    @Html.Partial("_AddMeterChangeOuts", ViewModelFactory.BuildWithOverrides<AddMeterChangeOutsToContract>(new { Id = Model.Id}))
</div>

@(Html.TableFor(x => orders)
    .TemplateColumnFor("Id", x => Html.ActionLink(x.Id.ToString(), "Show", "MeterChangeOut", new { x.Id }, null))
    .ColumnFor(x => x.AccountNumber)
    .ColumnFor(x => x.CustomerName)
    .ColumnFor(x => x.DateScheduled)
    .ColumnFor(x => x.MeterScheduleTime)
    .ColumnFor(x => x.AssignedContractorMeterCrew)
    .ColumnFor(x => x.CalledInByContractorMeterCrew)
    .ColumnFor(x => x.Canvassed)
    .ColumnFor(x => x.ClickAdvantexUpdated)
    .ColumnFor(x => x.ContractorDrilledLid)
    .ColumnFor(x => x.Email)
    .ColumnFor(x => x.EndStatus)
    .ColumnFor(x => x.EquipmentID)
    .ColumnFor(x => x.FieldNotes)
    .ColumnFor(x => x.InstalledJumperBar)
    .ColumnFor(x => x.IsHotRodRFOnly)
    .ColumnFor(x => x.IsMuellerMeter)
    .ColumnFor(x => x.IsNeptuneRFOnly)
    .ColumnFor(x => x.MeterChangeOutStatus)
    .ColumnFor(x => x.MeterCommentsPremise)
    .ColumnFor(x => x.MeterDirection)
    .ColumnFor(x => x.MeterLocation)
    .ColumnFor(x => x.MeterReadCode1)
    .ColumnFor(x => x.MeterReadComment1)
    .ColumnFor(x => x.MeterReadCode2)
    .ColumnFor(x => x.MeterReadComment2)
    .ColumnFor(x => x.MeterReadCode3)
    .ColumnFor(x => x.MeterReadComment3)
    .ColumnFor(x => x.MeterReadCode4)
    .ColumnFor(x => x.MeterReadComment4)
    .ColumnFor(x => x.MeterSize)
    .ColumnFor(x => x.MeterSupplementalLocation)
    .ColumnFor(x => x.MovedMeterToPit)
    .ColumnFor(x => x.NewRFNumber)
    .ColumnFor(x => x.NewSerialNumber)
    .ColumnFor(x => x.OperatedPointOfControlAtAnyValve)
    .ColumnFor(x => x.OutRead)
    .ColumnFor(x => x.OwnerCustomerMeterLocation)
    .ColumnFor(x => x.OwnerLocationOther)
    .ColumnFor(x => x.PremiseNumber)
    .ColumnFor(x => x.RanNewWire)
    .ColumnFor(x => x.RemovedSerialNumber)
    .ColumnFor(x => x.RFDirection)
    .ColumnFor(x => x.RFLocation)
    .ColumnFor(x => x.RFSupplementalLocation)
    .ColumnFor(x => x.RouteNumber)
    .ColumnFor(x => x.ServiceStreetNumber)
    .ColumnFor(x => x.ServiceStreet)
    .ColumnFor(x => x.ServiceCity)
    .ColumnFor(x => x.ServiceZip)
    .ColumnFor(x => x.ServicePhone)
    .ColumnFor(x => x.ServicePhoneExtension)
    .ColumnFor(x => x.ServicePhone2)
    .ColumnFor(x => x.ServicePhone2Extension)
    .ColumnFor(x => x.StartRead)
    .ColumnFor(x => x.StartStatus)
    .ColumnFor(x => x.TurnedOffWater)
)