@model MapCallMVC.Areas.Facilities.Models.ViewModels.CreateCommunityRightToKnow

@using (Form.BeginForm("Create", "CommunityRightToKnow", "Facilities"))
{
    <div class="field-column fc200">
        @Html.Partial("_FormFields", Model)
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Save")
            @Html.LinkButton("Cancel", "Index", "CommunityRightToKnow")
        </text>)
    </div>
}
