@using MapCallMVC.Areas.ProjectManagement.Models.ViewModels
@model EditRecurringProject
<script>
    // TODO: There's a better way to do this.
    var recurringProjectID = @ViewContext.RouteData.Values["id"];
</script>
@Html.Link("#", "Show InfoMaster Main Selector", new { onclick = "$('#mains').click();", Class = "link-button"})
<table id="mains-details-table" style="width: 100%;">
    <thead>
    <tr>
        <th>Guid</th>
        <th>Risk</th>
        @*<th>Total InfoMaster Score</th>*@
        <th>Length</th>
        <th>Date Installed</th>
        <th>Diameter</th>
        <th>Material</th>
    </tr>
    </thead>
    <tbody>
        @Html.EditorFor(m => Model.RecurringProjectMains)
    </tbody>
    
</table>
