<h3>Well Testing Practice</h3>
<p>The Well Testing Practice helps American Water sustain adequate well yields through periodic testing and determination of an optimized redevelopment/rehabilitation schedule specific to each well. Critical to this process is the standardization of testing and data collection procedures</p>
<p><a href="https://mysource.amwater.net/resources/documents/pdf/legal/practices/well_testing_practice_final.pdf" target="_blank">Click here to read the Well Practice Testing Document</a></p>
