@model MapCallMVC.Areas.Production.Models.ViewModels.WellTests.WellTestViewModel

@using (Form.BeginForm("Update", "WellTest", "Production", new { Model.Id }))
{
    <div class="field-column fc300">
        @Html.Partial("_FormFields", Model)

        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Save")
            @Html.LinkButton("Cancel", "Show", "WellTest", new { Model.Id })
        </text>)
    </div>
}