@model MapCall.Common.Model.Entities.SewerOverflow

<h2>Sewer Overflow</h2>

A sewer overflow was entered into MapCall. Please print and mail the DEP Letter.<br/>
SewerOverflowID: @Model.Id<br/>
@Model.RecordUrl