@model MapCallMVC.Areas.Events.Models.ViewModels.EditEvent
@using (Form.BeginForm("Update", "Event", "Events", new { Model.Id }))
{
    <div class="field-column fc200">
        @Html.Partial("_FormFields", Model)

        @Html.ButtonGroup(@<text>
                              @Control.SubmitButton("Save")
                              @Html.LinkButton("Cancel", "Show", "Event", new { Model.Id })
                           </text>)
    </div>
}