@model MapCallMVC.Areas.HealthAndSafety.Models.ViewModels.EditTailgateTalk

@using (Form.BeginForm("Update", "TailgateTalk", new {Model.Id}))
{
    <div class="field-column fc200">
        @Html.Partial("_Form")
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Save")
            @Html.LinkButton("Cancel", "Show", "TailgateTalk", new {Model.Id})
        </text>)
    </div>
}