@model MapCallMVC.Areas.HealthAndSafety.Models.ViewModels.CreateTailgateTalk

@using (Form.BeginForm("Create", "TailgateTalk"))
{
    <div class="field-column fc200">
        @Html.Partial("_Form")
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Save")
            @Html.LinkButton("Cancel", "Search")
        </text>)
    </div>
}
