@model MapCallMVC.Areas.Reports.Models.SearchIncompleteLeaks

@using (Form.BeginForm("Index", "IncompleteLeaks", new { area = "Reports" }))
{
    <div class="field-column fc200 searchFields">
        @Html.EditorFor(x => x.OperatingCenter)
        @Html.ButtonGroup(@<text>
                              @Control.SubmitButton("Search").WithId("Search")
                              @Control.ResetButton()
                           </text>)
    </div>
}