<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <!-- GENERAL/FRAMEWORK/LIBRARY SETTINGS -->
        <sectionGroup name="common">
            <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
        </sectionGroup>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />

        <!-- JOB-SPECIFIC SETTINGS -->
        <sectionGroup name="gisFileDumpService">
            <section name="file" type="MapCallScheduler.Library.Configuration.FileConfigSection, MapCallScheduler.Core" />
        </sectionGroup>

        <sectionGroup name="gisFileImportService">
            <section name="file" type="MapCallScheduler.Library.Configuration.FileConfigSection, MapCallScheduler.Core" />
        </sectionGroup>

        <sectionGroup name="gisMessageBroker">
            <section name="kafka" type="MMSINC.Utilities.Kafka.Configuration.KafkaConfigurationSection, MMSINC.Core" />
        </sectionGroup>

        <sectionGroup name="leakAlertService">
            <section name="file" type="MapCallScheduler.Library.Configuration.FileConfigSection, MapCallScheduler.Core" />
        </sectionGroup>

        <section name="lims" type="MapCall.LIMS.Configuration.LIMSConfigurationSection, MapCall.LIMS" />

        <sectionGroup name="markoutTicketService">
            <section name="incomingEmail" type="MapCallScheduler.Library.Configuration.IncomingEmailConfigSection, MapCallScheduler.Core" />
        </sectionGroup>

        <sectionGroup name="nonRevenueWaterEntryFileDumpService">
            <section name="file" type="MapCallScheduler.Library.Configuration.FileConfigSection, MapCallScheduler.Core" />
        </sectionGroup>

        <sectionGroup name="sapEmployeeService">
            <section name="file" type="MapCallScheduler.Library.Configuration.FileConfigSection, MapCallScheduler.Core" />
        </sectionGroup>

        <sectionGroup name="sapChemicalService">
          <section name="file" type="MapCallScheduler.Library.Configuration.FileConfigSection, MapCallScheduler.Core" />
        </sectionGroup>

        <sectionGroup name="sapMaterialService">
            <section name="file" type="MapCallScheduler.Library.Configuration.FileConfigSection, MapCallScheduler.Core" />
        </sectionGroup>

        <sectionGroup name="sapPremiseService">
            <section name="file" type="MapCallScheduler.Library.Configuration.FileConfigSection, MapCallScheduler.Core" />
        </sectionGroup>

        <sectionGroup name="systemDeliveryEntryFileDumpService">
            <section name="file" type="MapCallScheduler.Library.Configuration.FileConfigSection, MapCallScheduler.Core" />
        </sectionGroup>

        <sectionGroup name="w1vFileImportService">
            <section name="file" type="MapCallScheduler.Library.Configuration.FileConfigSection, MapCallScheduler.Core" />
        </sectionGroup>

        <sectionGroup name="waterQualityComplaintService">
            <section name="incomingEmail" type="MapCallScheduler.Library.Configuration.IncomingEmailConfigSection, MapCallScheduler.Core" />
        </sectionGroup>

        <sectionGroup name="workOrders">
            <section name="activeMQ" type="MMSINC.Utilities.ActiveMQ.ActiveMQConfigurationSection, MMSINC.Core" />
        </sectionGroup>

        <sectionGroup name="nsiPremiseFileLinkService">
	        <section name="file" type="MapCallScheduler.Library.Configuration.FileConfigSection, MapCallScheduler.Core" />
        </sectionGroup>
    </configSections>

    <!-- GENERAL/FRAMEWORK/LIBRARY SETTINGS -->
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <appSettings>
        <add key="IsProduction" value="false" />        
        <add key="IsStaging" value="false" />
        <add key="AllEmailsGoTo" value="jason.duncan@amwater.com" />
        <add key="AssetUploadsDirectory" value="c:\solutions\DocumentData\AssetUploads" />
        <add key="AwAppsApiBaseUrl" value="https://api-np.awapps.com/" />
        <add key="BaseUrl" value="https://mapcall.awapps.com/modules/mvc/" />
        <add key="DocumentDataDirectory" value="\Solutions\DocumentData\MapCallCommonTest" />
        <add key="JobName" value="AssetUploadProcessor,DailyGISFileDump,DailyGISFileImport,DailyW1VFileImport,GISMessageBrokerIntegration,Heartbeat,LeakAlertUpdater,MapCallNotifier,MapCallRoutineProductionWorkOrder,MarkoutTicketFetcher,MeterChangeOutStatusUpdate,MonthlyNonRevenueWaterEntryFileDump,MonthlySpaceTimeInsightFileDump,MonthlySystemDeliveryEntryFileDump,NonRevenueWaterEntryCreator,SampleSiteProfileSync,SapEmployeeUpdater,SAPEquipmentSyncronization,SapMaterialUpdater,SapPremiseUpdater,SapScheduledProductionWorkOrderFetcher,ServicePremiseLink,SmartCoverAlertLink,SapWaterQualityComplaint" />
        <add key="MaximumConcurrentRequests" value="1" />
        <add key="MaximumRows" value="500" />
        <add key="noreply_address" value="noreply@mapcalldev.awapps.com" />
        <add key="QUARTZ_THREAD_COUNT" value="50" />
        <add key="StartTime" value="IMMEDIATE" />
        <add key="SmartCoverAlertsKey" value="q3yP8xHtkD654iKMAHnOA4GLphr7kBbK2huN54z3" />

        <add key="SecureAuth-AuthenticationEndpointBaseUrl" value="https://sa-dev.amwater.com/secureauth95/" />
        <add key="SecureAuth-AuthenticationClientId" value="" />
        <add key="SecureAuth-AuthenticationClientSecret" value="" />
        <add key="SecureAuth-AuthenticationUsername" value="" />
        <add key="SecureAuth-AuthenticationPassword" value="" />

        <add key="SAPWebServiceUserName" value="" />
        <add key="SAPWebServicePassword" value="" />
        <add key="SAPWebServiceUrl" value="https://l13032-iflmap.hcisbp.us3.hana.ondemand.com/cxf/" />
    </appSettings>

    <connectionStrings>
        <add name="Main" connectionString="Data Source=localhost;Initial Catalog=mapcalldev;Integrated Security=true" />
    </connectionStrings>

    <system.net>
        <mailSettings>
            <smtp deliveryMethod="Network" from="noreply@mapcalldev.awapps.com">
                <network host="mail.amwaternp.net" port="25" />
            </smtp>
        </mailSettings>
    </system.net>

    <common>
        <logging>
            <factoryAdapter type="Common.Logging.Log4Net.Universal.Log4NetFactoryAdapter, Common.Logging.Log4Net.Universal" />
        </logging>
    </common>

    <log4net>
        <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline" />
            </layout>
        </appender>

        <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="mapcall-scheduler-log.txt" />
            <filter type="log4net.filter.loggermatchfilter">
                <loggertomatch value="mapcallscheduler.jobs.sappremiseupdaterjob" />
                <acceptonmatch value="false" />
            </filter>
            <filter type="log4net.filter.loggermatchfilter">
                <loggertomatch value="mapcallscheduler.jobs.scadatagfetcherjob" />
                <acceptonmatch value="false" />
            </filter>
            <appendToFile value="true" />
            <rollingStyle value="Size" />
            <maxSizeRollBackups value="40" />
            <maximumFileSize value="2500KB" />
            <staticLogFileName value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline" />
            </layout>
        </appender>

        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline" />
            </layout>
        </appender>

        <root>
            <level value="INFO" />
            <appender-ref ref="RollingFileAppender" />
            <appender-ref ref="ConsoleAppender" />
        </root>

        <logger name="Quartz">
            <level value="ERROR" />
        </logger>

        <logger name="NHibernate">
            <level value="ERROR" />
        </logger>

        <logger name="NHibernate.SQL">
            <level value="ERROR" />
        </logger>
    </log4net>

    <!-- JOB-SPECIFIC SETTINGS -->
    <gisFileDumpService>
        <file workingDirectory="c:\solutions\mapcall-monorepo\scheduler\docs" makeChanges="false" />
    </gisFileDumpService>

    <gisFileImportService>
        <file workingDirectory="c:\solutions\mapcall-monorepo\scheduler\docs" makeChanges="false" />
    </gisFileImportService>

    <gisMessageBroker>
        <kafka bootstrapServers="b-1.msk-optimized.tqxxjw.c8.kafka.us-east-1.amazonaws.com:9092,b-3.msk-optimized.tqxxjw.c8.kafka.us-east-1.amazonaws.com:9092,b-2.msk-optimized.tqxxjw.c8.kafka.us-east-1.amazonaws.com:9092" consumerGroupId="mapcall-gis-kafka-consumer-dev" autoOffsetReset="Earliest" enableAutoCommit="false" />
    </gisMessageBroker>

    <leakAlertService>
        <file workingDirectory="c:\solutions\mapcall-monorepo\scheduler\docs" makeChanges="false" />
    </leakAlertService>

    <lims scheme="https" host="scpdev.prod.apimanagement.us10.hana.ondemand.com" path="LIMS/api" apiKey="779hErmryK3cuVQZrPAZBwG9XxjXAagc" timeoutInMinutes="5" />

    <markoutTicketService>
        <incomingEmail server="mail.noip.com" port="143" username="tickets_test@mapcall.com" password="monitoring#1" makeChanges="false" />
    </markoutTicketService>

    <nonRevenueWaterEntryFileDumpService>
        <file workingDirectory="c:\solutions\mapcall-monorepo\scheduler\docs" makeChanges="false" />
    </nonRevenueWaterEntryFileDumpService>

    <sapChemicalService>
      <file workingDirectory="c:\solutions\mapcall-monorepo\scheduler\docs" />
    </sapChemicalService>

    <sapEmployeeService>
        <file workingDirectory="c:\solutions\mapcall-monorepo\scheduler\docs" makeChanges="false" />
    </sapEmployeeService>

    <sapMaterialService>
        <file workingDirectory="c:\solutions\mapcall-monorepo\scheduler\docs" makeChanges="false" />
    </sapMaterialService>

    <sapPremiseService>
        <file workingDirectory="c:\solutions\mapcall-monorepo\scheduler\docs" makeChanges="false" />
    </sapPremiseService>

    <systemDeliveryEntryFileDumpService>
        <file workingDirectory="c:\solutions\mapcall-monorepo\scheduler\docs" makeChanges="false" />
    </systemDeliveryEntryFileDumpService>
    
    <w1vFileImportService>
        <file workingDirectory="c:\solutions\mapcall-monorepo\scheduler\docs" makeChanges="false" />
    </w1vFileImportService>

	<nsiPremiseFileLinkService>
		<file workingDirectory="c:\solutions\mapcall-monorepo\scheduler\docs" makeChanges="true" />
    </nsiPremiseFileLinkService>
    
    <workOrders>
        <activeMQ scheme="tcp" host="hsynlamqs001.amwaternp.net" port="61616" />
    </workOrders>

    <!-- BINDINS -->
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.13.0" newVersion="2.0.13.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="dotless.Core" publicKeyToken="96b446c9e63eae34" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.6.7.0" newVersion="1.6.7.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.IO.RecyclableMemoryStream" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="dotless.AspNet" publicKeyToken="96b446c9e63eae34" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.6.7.0" newVersion="1.6.7.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="NodaTime" publicKeyToken="4226afe0d9b296d1" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.9.0" newVersion="3.0.9.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
