

    <h2>Required Training</h2>

    <p>
        You can use this report to search by operating center or training requirement to determine
        how many employees currently require training.
    </p>

    <h3>Due By</h3>
    <p>
        This will default today and the results will display who is currently over due for training. 
        Enter the 1st of next year and you will get the results of who will be due training before that date.
    </p>

<h3>Recurring</h3>
    <p>
        Specifies if a training requirement has a recurring frequency. Many training requirements
        only have a single initial training that most be taken.
    </p>

    <h3>Employees In Position Groups</h3>
    <p>Number of employees that are in position groups that are assigned to the training requirement.</p>


    <h3>Due Initial</h3>
    <p>Number of employees due the initial training.</p>

    <h3>Due Recurring</h3>
    <p>Number of employees due for the refresher course.</p>

    <h3>Due Initial&Recurring</h3>
    <p>
        Number of employees due the initial/refresher course.
        The intial and refresher coure are the same.
    </p>

    <h3>Employees Scheduled</h3>
    <p>How many employees are scheduled for the upcoming training classes. Not inclusive of employees that are required to take them.</p>

    <h3>Classes Scheduled</h3>
    <p>How many classes are scheduled for the training requirement.</p>

    <h3>Operating Center Classes Scheduled</h3>
    <p>How many classes are scheduled for the training requirement at the operating center.</p>
