@model MapCallMVC.Areas.Environmental.Models.ViewModels.SearchChemicalVendor

@using (Form.BeginForm("Index", "ChemicalVendor")) {
    <div class="field-column fc200 searchFields">
        @Html.EditorFor(x => x.Vendor)

        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Search").WithId("Search")
            @Control.ResetButton()
        </text>)
    </div>
}