@model HepatitisBVaccination
           
<div class="field-column fc200">
    @Html.DisplayFor(x => x.Employee.OperatingCenter)
    @Html.DisplayFor(x => x.Employee)
    @Html.DisplayFor(x => x.ResponseDate)
    @Html.DisplayFor(x => x.HepatitisBVaccineStatus)
</div>