@model MapCallMVC.Areas.WaterQuality.Models.ViewModels.SampleSites.SearchSampleSite

@(Html.TableFor(_ => Model)
      .WithCaption("Records Found: " + Model.Count)
      .TemplateColumnFor("Action", x => @<text>
                                            <div>
                                                @Html.DefaultActionLink("View", "Show", "SampleSite", "WaterQuality", new { x.Id }, new { Class = "link-button" })
                                                @Html.DefaultActionLink("New Sample", "New", "WaterSample", "WaterQuality", new { id = x.Id }, new { Class = "link-button" })
                                                @Html.DefaultActionLink("New Bacti Sample", "New", "BacterialWaterSample", "WaterQuality", new { id = x.Id }, new { Class = "link-button" })
                                            </div>
                                         </text>)
      .SortableColumnFor(x => x.Id)
      .SortableColumnFor(x => x.CommonSiteName)
      .SortableColumnFor(x => x.OperatingCenter)
      .SortableColumnFor(x => x.PublicWaterSupply)
      .SortableColumnFor(x => x.Availability)
      .SortableColumnFor(x => x.Status)
      .SortableColumnFor(x => x.State)
      .SortableColumnFor(x => x.County)
      .SortableColumnFor(x => x.OutOfServiceArea)
      .SortableColumnFor(x => x.Town)
      .SortableColumnFor(x => x.TownText)
      .SortableColumnFor(x => x.StreetNumber)
      .SortableColumnFor(x => x.Street)
      .SortableColumnFor(x => x.CrossStreet)
      .SortableColumnFor(x => x.Premise.MostRecentService.Service, "s.Id")
      .SortableColumnFor(x => x.Premise.PremiseNumber, "p.PremiseNumber")
      .SortableColumnFor(x => x.Premise.MostRecentService.ServiceMaterial, "sm.Description")
      .SortableColumnFor(x => x.FieldVerifiedServiceMaterial)
      .SortableColumnFor(x => x.Premise.MostRecentService.CustomerSideMaterial, "csm.Description")
      .SortableColumnFor(x => x.FieldVerifiedServiceCustomerSideMaterial)
      .SortableColumnFor(x => x.CustomerPlumbingMaterial)
      .SortableColumnFor(x => x.FieldVerifiedCustomerPlumbingMaterial)
      .SortableColumnFor(x => x.Facility)
      .SortableColumnFor(x => x.BactiSite)
      .SortableColumnFor(x => x.LeadServiceLineReplacementSite)
      .SortableColumnFor(x => x.LeadCopperSite)
      .SortableColumnFor(x => x.PreviousMonitoringPeriod)
      .SortableColumnFor(x => x.ZipCode)
      .SortableColumnFor(x => x.LocationNameDescription)
      .SortableColumnFor(x => x.IsAlternateSite)
      .SortableColumnFor(x => x.CustomerParticipationConfirmed)
      .SortableColumnFor(x => x.SampleSiteValidationStatus)
      .ColumnFor(x => x.Latitude)
      .ColumnFor(x => x.Longitude)
      .WithPaginatedFooter())