<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="InspectionRecord_Create_OB_SYNBinding" />
        <binding name="InspectionRecord_Create_OB_SYNBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="NotificationStatus_OB_SYNBinding" />
        <binding name="NotificationStatus_OB_SYNBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="GetNotification_OB_SYNBinding" />
        <binding name="GetNotification_OB_SYNBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="NotificationStatus_OB_SYNBinding2">
          <security mode="Transport" />
        </binding>
        <binding name="GetNotification_OB_SYNBinding2">
          <security mode="Transport" />
        </binding>
        <binding name="TechnicalMaster_AccountDetails_Get_OB_SYNBinding" />
        <binding name="TechnicalMaster_AccountDetails_Get_OB_SYNBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="TechnicalMaster_AccountDetails_Get_OB_SYNBinding2" />
        <binding name="TechnicalMaster_AccountDetails_Get_OB_SYNBinding3">
          <security mode="Transport" />
        </binding>
        <binding name="WBSElement_Get_OB_SYNBinding" />
        <binding name="WBSElement_Get_OB_SYNBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="FunctionalLocation_Get_OB_SYNBinding" />
        <binding name="FunctionalLocation_Get_OB_SYNBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="CustomerOrder_FSR_Get_OB_SYNBinding">
          <security mode="Transport" />
        </binding>
        <binding name="CreateUnscheduledWO_OB_SYNBinding">
          <security mode="Transport" />
        </binding>
        <binding name="CompleteScheduledUnscheduledWO_OB_SYNBinding">
          <security mode="Transport" />
        </binding>
        <binding name="ManufacturerLookup_OB_SYNBinding">
          <security mode="Transport" />
        </binding>
        <binding name="MaintenancePlanLookup_OB_SYNBinding">
          <security mode="Transport" />
        </binding>
        <binding name="MaintenancePlanUpdate_OB_SYNBinding">
          <security mode="Transport" />
        </binding>
        <binding name="PMOrders_Get_OB_SYNBinding" />
        <binding name="PMOrders_Get_OB_SYNBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="ProgressScheduledUnscheduledWO_OB_SYNBinding">
          <security mode="Transport" />
        </binding>
        <binding name="Equipments_OB_SYNBinding">
          <security mode="Transport" />
        </binding>
        <binding name="ProgressWorkOrder_OB_SYNBinding">
          <security mode="Transport" />
        </binding>
        <binding name="GoodsIssue_OB_SYNBinding">
          <security mode="Transport" />
        </binding>
        <binding name="CompleteWorkOrder_OB_SYNBinding">
          <security mode="Transport" />
        </binding>
        <binding name="CreateWorkOrder_OB_SYNBinding">
          <security mode="Transport" />
        </binding>
        <binding name="TimeConfirmation_OB_SYCBinding">
          <security mode="Transport" />
        </binding>
        <binding name="WO_StatusUpdate_OB_SYCBinding">
          <security mode="Transport" />
        </binding>
        <binding name="BPEM_OB_SYCBinding">
          <security mode="Transport" />
        </binding>
        <binding name="WO_Predispatch_PULL_OB_SYCBinding" />
        <binding name="WO_Predispatch_PULL_OB_SYCBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="CreateShortCycle_OB_SYNBinding">
          <security mode="Transport" />
        </binding>
        <binding name="InspectionRecord_Create_OB_SYNBinding2">
          <security mode="Transport" />
        </binding>
        <binding name="WO_Predispatch_PULL_OB_SYCBinding2">
          <security mode="Transport" />
        </binding>
        <binding name="W1v_New_ServiceInstallation_Get_OB_SYNBinding">
          <security mode="Transport" />
        </binding>
        <binding name="DeviceRemoveReplace_OB_SYCBinding">
          <security mode="Transport" />
        </binding>
        <binding name="MiscellaneousWorks_OB_SYCBinding">
          <security mode="Transport" />
        </binding>
        <binding name="DeviceDetails_Get_OB_SYNBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://dp2.amwaternp.net:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=MapCall&amp;receiverParty=&amp;receiverService=&amp;interface=InspectionRecord_Create_OB_SYN&amp;interfaceNamespace=http%3A%2F%2Famwater.com%2FEAM%2F0010%2FMAPCALL%2FCreateInspectionRecord" binding="basicHttpBinding" bindingConfiguration="InspectionRecord_Create_OB_SYNBinding" contract="InspectionRecordWS.InspectionRecord_Create_OB_SYN" name="HTTP_Port1" />
      <endpoint address="https://dp2.amwaternp.net:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=MapCall&amp;receiverParty=&amp;receiverService=&amp;interface=InspectionRecord_Create_OB_SYN&amp;interfaceNamespace=http%3A%2F%2Famwater.com%2FEAM%2F0010%2FMAPCALL%2FCreateInspectionRecord" binding="basicHttpBinding" bindingConfiguration="InspectionRecord_Create_OB_SYNBinding1" contract="InspectionRecordWS.InspectionRecord_Create_OB_SYN" name="HTTPS_Port1" />
      <endpoint address="http://dp2.amwaternp.net:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=MapCall&amp;receiverParty=&amp;receiverService=&amp;interface=TechnicalMaster_AccountDetails_Get_OB_SYN&amp;interfaceNamespace=http%3A%2F%2Famwater.com%2FEAM%2F0015%2FMAPCALL%2FGetTechnicalMaster_AccountDetails" binding="basicHttpBinding" bindingConfiguration="TechnicalMaster_AccountDetails_Get_OB_SYNBinding" contract="TechnicalMasterWS.TechnicalMaster_AccountDetails_Get_OB_SYN" name="HTTP_Port8" />
      <endpoint address="https://dp2.amwaternp.net:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=MapCall&amp;receiverParty=&amp;receiverService=&amp;interface=TechnicalMaster_AccountDetails_Get_OB_SYN&amp;interfaceNamespace=http%3A%2F%2Famwater.com%2FEAM%2F0015%2FMAPCALL%2FGetTechnicalMaster_AccountDetails" binding="basicHttpBinding" bindingConfiguration="TechnicalMaster_AccountDetails_Get_OB_SYNBinding1" contract="TechnicalMasterWS.TechnicalMaster_AccountDetails_Get_OB_SYN" name="HTTPS_Port8" />
      <endpoint address="http://dp2.amwaternp.net:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=MapCall&amp;receiverParty=&amp;receiverService=&amp;interface=WBSElement_Get_OB_SYN&amp;interfaceNamespace=http%3A%2F%2Famwater.com%2FEAM%2F0020%2FMAPCALL%2FGetWBSElement" binding="basicHttpBinding" bindingConfiguration="WBSElement_Get_OB_SYNBinding" contract="WBSElementWS.WBSElement_Get_OB_SYN" name="HTTP_Port11" />
      <endpoint address="https://dp2.amwaternp.net:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=MapCall&amp;receiverParty=&amp;receiverService=&amp;interface=WBSElement_Get_OB_SYN&amp;interfaceNamespace=http%3A%2F%2Famwater.com%2FEAM%2F0020%2FMAPCALL%2FGetWBSElement" binding="basicHttpBinding" bindingConfiguration="WBSElement_Get_OB_SYNBinding1" contract="WBSElementWS.WBSElement_Get_OB_SYN" name="HTTPS_Port11" />
      <endpoint address="http://dp2.amwaternp.net:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=MapCall&amp;receiverParty=&amp;receiverService=&amp;interface=FunctionalLocation_Get_OB_SYN&amp;interfaceNamespace=http%3A%2F%2Famwater.com%2FEAM%2F0021%2FMAPCALL%2FGetFunctionalLocation" binding="basicHttpBinding" bindingConfiguration="FunctionalLocation_Get_OB_SYNBinding" contract="FunctionalLocationWS.FunctionalLocation_Get_OB_SYN" name="HTTP_Port13" />
      <endpoint address="https://dp2.amwaternp.net:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=MapCall&amp;receiverParty=&amp;receiverService=&amp;interface=FunctionalLocation_Get_OB_SYN&amp;interfaceNamespace=http%3A%2F%2Famwater.com%2FEAM%2F0021%2FMAPCALL%2FGetFunctionalLocation" binding="basicHttpBinding" bindingConfiguration="FunctionalLocation_Get_OB_SYNBinding1" contract="FunctionalLocationWS.FunctionalLocation_Get_OB_SYN" name="HTTPS_Port13" />
      <endpoint address="http://dp2.amwaternp.net:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=MapCall&amp;receiverParty=&amp;receiverService=&amp;interface=PMOrders_Get_OB_SYN&amp;interfaceNamespace=http%3A%2F%2Famwater.com%2FEAM%2F0028%2FMAPCALL%2FPreventiveMaintenanceOrders" binding="basicHttpBinding" bindingConfiguration="PMOrders_Get_OB_SYNBinding" contract="GetPMOrderWS.PMOrders_Get_OB_SYN" name="HTTP_Port21" />
      <endpoint address="https://dp2.amwaternp.net:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=MapCall&amp;receiverParty=&amp;receiverService=&amp;interface=PMOrders_Get_OB_SYN&amp;interfaceNamespace=http%3A%2F%2Famwater.com%2FEAM%2F0028%2FMAPCALL%2FPreventiveMaintenanceOrders" binding="basicHttpBinding" bindingConfiguration="PMOrders_Get_OB_SYNBinding1" contract="GetPMOrderWS.PMOrders_Get_OB_SYN" name="HTTPS_Port21" />
      <endpoint address="http://dp2.amwaternp.net:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=MapCall&amp;receiverParty=&amp;receiverService=&amp;interface=WO_Predispatch_PULL_OB_SYC&amp;interfaceNamespace=http%3A%2F%2Famwater.com%2FPTB%2F200018%2FMAPCALL%2FWorkOrderPreDispatch_Pull" binding="basicHttpBinding" bindingConfiguration="WO_Predispatch_PULL_OB_SYCBinding" contract="PreDispatchWS.WO_Predispatch_PULL_OB_SYC" name="HTTP_Port26" />
      <endpoint address="https://dp2.amwaternp.net:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=MapCall&amp;receiverParty=&amp;receiverService=&amp;interface=WO_Predispatch_PULL_OB_SYC&amp;interfaceNamespace=http%3A%2F%2Famwater.com%2FPTB%2F200018%2FMAPCALL%2FWorkOrderPreDispatch_Pull" binding="basicHttpBinding" bindingConfiguration="WO_Predispatch_PULL_OB_SYCBinding1" contract="PreDispatchWS.WO_Predispatch_PULL_OB_SYC" name="HTTPS_Port26" />
      <endpoint address="http://dp2.amwaternp.net:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=MapCall&amp;receiverParty=&amp;receiverService=&amp;interface=TechnicalMaster_AccountDetails_Get_OB_SYN&amp;interfaceNamespace=http%3A%2F%2Famwater.com%2FEAM%2F0015%2FMAPCALL%2FGetTechnicalMaster_AccountDetails" binding="basicHttpBinding" bindingConfiguration="TechnicalMaster_AccountDetails_Get_OB_SYNBinding2" contract="TechnicalMasterWS.TechnicalMaster_AccountDetails_Get_OB_SYN" name="HTTP_Port9" />
      <endpoint address="https://dp2.amwaternp.net:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=MapCall&amp;receiverParty=&amp;receiverService=&amp;interface=TechnicalMaster_AccountDetails_Get_OB_SYN&amp;interfaceNamespace=http%3A%2F%2Famwater.com%2FEAM%2F0015%2FMAPCALL%2FGetTechnicalMaster_AccountDetails" binding="basicHttpBinding" bindingConfiguration="TechnicalMaster_AccountDetails_Get_OB_SYNBinding3" contract="TechnicalMasterWS.TechnicalMaster_AccountDetails_Get_OB_SYN" name="HTTPS_Port9" />
      <endpoint address="https://l13032-iflmap.hcisbp.us3.hana.ondemand.com:443/cxf/CreateWorkOrder" binding="basicHttpBinding" bindingConfiguration="CreateWorkOrder_OB_SYNBinding" contract="CreateWorkOrderWS.CreateWorkOrder_OB_SYN" name="port" />
      <endpoint address="https://l13032-iflmap.hcisbp.us3.hana.ondemand.com:443/cxf/CreateUpdate_Equipments" binding="basicHttpBinding" bindingConfiguration="Equipments_OB_SYNBinding" contract="SAPEquipmentWS.Equipments_OB_SYN" name="port1" />
      <endpoint address="https://l13032-iflmap.hcisbp.us3.hana.ondemand.com:443/cxf/CreateUnscheduledWO" binding="basicHttpBinding" bindingConfiguration="CreateUnscheduledWO_OB_SYNBinding" contract="CreateUnscheduledWOWS.CreateUnscheduledWO_OB_SYN" name="port2" />
      <endpoint address="https://l13032-iflmap.hcisbp.us3.hana.ondemand.com:443/cxf/GetCustomerOrderDetails" binding="basicHttpBinding" bindingConfiguration="CustomerOrder_FSR_Get_OB_SYNBinding" contract="CustomerOrder.CustomerOrder_FSR_Get_OB_SYN" name="port3" />
      <endpoint address="https://l13032-iflmap.hcisbp.us3.hana.ondemand.com:443/cxf/MaintenancePlanLookup" binding="basicHttpBinding" bindingConfiguration="MaintenancePlanLookup_OB_SYNBinding" contract="MaintenancePlanLookupWS.MaintenancePlanLookup_OB_SYN" name="port4" />
      <endpoint address="https://l13032-iflmap.hcisbp.us3.hana.ondemand.com:443/cxf/MaintenancePlanUpdate" binding="basicHttpBinding" bindingConfiguration="MaintenancePlanUpdate_OB_SYNBinding" contract="MaintenancePlanUpdateWS.MaintenancePlanUpdate_OB_SYN" name="port5" />
      <endpoint address="https://l13032-iflmap.hcisbp.us3.hana.ondemand.com:443/cxf/ManufacturerLookup" binding="basicHttpBinding" bindingConfiguration="ManufacturerLookup_OB_SYNBinding" contract="ManufacturerLookupWS.ManufacturerLookup_OB_SYN" name="port6" />
      <endpoint address="https://l13032-iflmap.hcisbp.us3.hana.ondemand.com:443/cxf/ProgressScheduledUnscheduledWO" binding="basicHttpBinding" bindingConfiguration="ProgressScheduledUnscheduledWO_OB_SYNBinding" contract="ProgressScheduledUnscheduledWOWS.ProgressScheduledUnscheduledWO_OB_SYN" name="port7" />
      <endpoint address="https://l13032-iflmap.hcisbp.us3.hana.ondemand.com:443/cxf/CompleteScheduledUnscheduledWO" binding="basicHttpBinding" bindingConfiguration="CompleteScheduledUnscheduledWO_OB_SYNBinding" contract="CompleteScheduledUnscheduledWOWS.CompleteScheduledUnscheduledWO_OB_SYN" name="port8" />
      <endpoint address="https://l13032-iflmap.hcisbp.us3.hana.ondemand.com:443/cxf/CompleteWorkOrder" binding="basicHttpBinding" bindingConfiguration="CompleteWorkOrder_OB_SYNBinding" contract="CompleteWorkOrderWS.CompleteWorkOrder_OB_SYN" name="port9" />
      <endpoint address="https://l13032-iflmap.hcisbp.us3.hana.ondemand.com:443/cxf/ProgressWorkOrder" binding="basicHttpBinding" bindingConfiguration="ProgressWorkOrder_OB_SYNBinding" contract="ProgressWorkOrderWS.ProgressWorkOrder_OB_SYN" name="port10" />
      <endpoint address="https://l13032-iflmap.hcisbp.us3.hana.ondemand.com:443/cxf/GoodsIssue" binding="basicHttpBinding" bindingConfiguration="GoodsIssue_OB_SYNBinding" contract="GoodsIssueWS.GoodsIssue_OB_SYN" name="port11" />
      <endpoint address="https://l13032-iflmap.hcisbp.us3.hana.ondemand.com:443/cxf/NotificationStatus" binding="basicHttpBinding" bindingConfiguration="NotificationStatus_OB_SYNBinding2" contract="NotificationStatusWS.NotificationStatus_OB_SYN" name="port12" />
      <endpoint address="https://l13032-iflmap.hcisbp.us3.hana.ondemand.com:443/cxf/InspectionRecord_Create" binding="basicHttpBinding" bindingConfiguration="InspectionRecord_Create_OB_SYNBinding2" contract="InspectionRecordWS.InspectionRecord_Create_OB_SYN" name="port14" />
      <endpoint address="https://l13032-iflmap.hcisbp.us3.hana.ondemand.com:443/cxf/CreateShortCycle" binding="basicHttpBinding" bindingConfiguration="CreateShortCycle_OB_SYNBinding" contract="CreateShortCycleWS.CreateShortCycle_OB_SYN" name="CreateShortCycle_OB_SYN" />
      <endpoint address="https://l13032-iflmap.hcisbp.us3.hana.ondemand.com:443/cxf/CreateBPEM" binding="basicHttpBinding" bindingConfiguration="BPEM_OB_SYCBinding" contract="CreateBPEMWS.BPEM_OB_SYC" name="port17" />
      <endpoint address="https://l13032-iflmap.hcisbp.us3.hana.ondemand.com:443/cxf/WOStatusUpdate" binding="basicHttpBinding" bindingConfiguration="WO_StatusUpdate_OB_SYCBinding" contract="WorkOrderStatusUpdateWS.WO_StatusUpdate_OB_SYC" name="port18" />
      <endpoint address="https://l13032-iflmap.hcisbp.us3.hana.ondemand.com:443/cxf/TimeConfirmation" binding="basicHttpBinding" bindingConfiguration="TimeConfirmation_OB_SYCBinding" contract="TimeConfirmationWS.TimeConfirmation_OB_SYC" name="port21" />
      <endpoint address="https://l13032-iflmap.hcisbp.us3.hana.ondemand.com:443/cxf/WO_Predispatch_Pull" binding="basicHttpBinding" bindingConfiguration="WO_Predispatch_PULL_OB_SYCBinding2" contract="PreDispatchWS.WO_Predispatch_PULL_OB_SYC" name="port22" />
      <endpoint address="https://e10028-iflmap.hcisbt.us3.hana.ondemand.com:443/cxf/GetNotification" binding="basicHttpBinding" bindingConfiguration="GetNotification_OB_SYNBinding2" contract="GetNotificationWS.GetNotification_OB_SYN" name="port13" />
      <endpoint address="https://l13032-iflmap.hcisbp.us3.hana.ondemand.com:443/cxf/W1v_NewServiceInstallation" binding="basicHttpBinding" bindingConfiguration="W1v_New_ServiceInstallation_Get_OB_SYNBinding" contract="NewServiceInstallationWS.W1v_New_ServiceInstallation_Get_OB_SYN" name="port16" />
      <endpoint address="https://e10028-iflmap.hcisbt.us3.hana.ondemand.com:443/cxf/DeviceRemoveReplace" binding="basicHttpBinding" bindingConfiguration="DeviceRemoveReplace_OB_SYCBinding" contract="DeviceRemoveReplaceWS.DeviceRemoveReplace_OB_SYC" name="port20" />
      <endpoint address="https://e10028-iflmap.hcisbt.us3.hana.ondemand.com:443/cxf/MiscellaneousWorks" binding="basicHttpBinding" bindingConfiguration="MiscellaneousWorks_OB_SYCBinding" contract="MiscellaneousWorksWS.MiscellaneousWorks_OB_SYC" name="port19" />
      <endpoint address="https://e10028-iflmap.hcisbt.us3.hana.ondemand.com:443/cxf/GetDeviceDetails" binding="basicHttpBinding" bindingConfiguration="DeviceDetails_Get_OB_SYNBinding" contract="DeviceDetailWS.DeviceDetails_Get_OB_SYN" name="port15" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FluentMigrator" publicKeyToken="aacfc7de5acabf05" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.2.0" newVersion="1.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="dotless.Core" publicKeyToken="96b446c9e63eae34" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.7.0" newVersion="1.6.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Apache.NMS" publicKeyToken="82756feee3957618" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.0.0" newVersion="1.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="dotless.AspNet" publicKeyToken="96b446c9e63eae34" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.7.0" newVersion="1.6.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IO.RecyclableMemoryStream" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup></configuration>
