@model MapCallMVC.Areas.Production.Models.ViewModels.AssetConditionReasonViewModel

@using (Form.BeginForm("Create", "AssetConditionReason", "Production"))
{
    <div class="field-column fc200">
        @Html.Partial("_Form", Model)
        @Html.ButtonGroup(@<text>
                              @Control.SubmitButton("Save")
                              @Html.AuthorizedActionLinkButton("Reset", "Index", "AssetConditionReason")</text>)
    </div>
}