<?xml version="1.0"?>
<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" xdt:Transform="Remove" />
  </configSections>
  <configProtectedData xdt:Transform="Replace">
    <providers>
      <add name="customProvider" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0,Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" keyContainerName="mcDevKeys" useMachineContainer="true"/>
    </providers>
  </configProtectedData>
  <appSettings configProtectionProvider="customProvider">
    <EncryptedData xmlns="http://www.w3.org/2001/04/xmlenc#" Type="http://www.w3.org/2001/04/xmlenc#Element">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc"/>
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p"/>
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>HfwbSS0qxc+xn8pIUIelPte75SO5wiBB52fN50FmpsmKY4juwNoYWLpscZp3DyGmpxsF5e/sc5dk6XQpcLoHe+f6RRqMYkaV7t4GCVh7oz/QSHJAXo4TMJdd/3z03+0/xxrzSW0r1rnif9NJx+Cw3Q0Xv1FeP7hP6eXwq9SS9Wk=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>PO/d7DGzsw+I95lthn/zKfLSYs3Eo6ul59vEAFCl/qwaQ1DXEaTC2NKyTvPdvClvv0/lyJRCr9OXFq0srxA9ueaTyt7hQqIh/FVrjvo5iRxtrr5GiczypREgSAl94pFfOr8E1+UmK/IsvMZaqNr+YLWlAYK/B9b9oxjXQ73sc26KBkyhE8qoexHTCZ/e8XvWPVQTsaaU6iyA8BnestEUCfMxlFXqdfvyd8hM5HLF0zlQ45wV0XV8N4KaZQ8N06oxSVeP/fPmt3wipDE/7qImXhu14TtsH5HPPczcU3+6A/LOYE2GoqI5sEX4RRAOxw2rN11IZ2TY4wvEZy/261iXf+LqTnxAOaxTgN6d1CKXZcQcf0hvrQUwJalcTvXKniklnIR5ilxmZxZbZmeZP7mOP3Vs8pHElw1Dh+2nWZhS4plJHt8TnIhP1b0cKhj6XtOqI5QwuxzS2wObE/nAtBKe1Ej+gzFODJRTdXh58nr4mGSkXFTTZbzBRazZQbX5JmuQUUH64iy+ibaPRh9TaKCzVxLGZyfSdp26ZZlEkDb8aO5oS+LbIIEHCyYpRDUebLCsES7mRcAz8n6s1kmlVhN6C5RotOv0yFjOdkKBMR1BdGUyecC5APLaqCy5KtG70dnAnKWB/KOwdwevwAUL6mvrQ3PcGuYmjQdiZeb402WaXl1y6qoSb/v6+Hl2Og4Z8QEwJXOP4uYiLdk2VQNdFkVHe/vIDmJGezH2txdfHtLtY2sDKiGP8viHwlEQ41KYyl2r3xMy0PkrttwKZ6g0kAJS2FO8ocSKzOldSgeTkpvgCx4sGAaXmtMInXYY7nyjno2zh2BTlMbf8wSzaqvJOgSVEYMREqmTl7QSjyLrwAFlR+WH8NUI5mxDsINx+LQZB9BE</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
