<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" xdt:Transform="Remove" />
  </configSections>
  <!-- DON'T CHANGE THIS TO REPLACE IT SHOULD BE REMOVE! EDIT PROPER INSTEAD -->
  <configProtectedData xdt:Transform="Remove">
    <providers>
      <add name="customProvider"
           type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0,Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
           keyContainerName="mcProdKeys"
           useMachineContainer="true" />
    </providers>
  </configProtectedData>
  <connectionStrings configProtectionProvider="customProvider" xdt:Transform="Replace">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
                   xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>f1HPTpvqNG84NWyaTREYoo0/bfTuy2Dz4r9qhsWllMds9w9+6tgpRH4PRG9CQyN3QQLP9Xsy3O/ioLoRiha1ed27kbucHr4vAQgab7MQngOsSoURkfPhpotEwGz6C13hjMPrZ4iQo5FhcNdgxQLuRFcnM5Owv6Azk8JLEMBl3d4=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>9VjNju4b88CNbSgKahKmZAN/uWGvR2WRoiuA5kU36/htc6w8Mei+Vna4Lzk9sNwWAF+pdUue9hmzOz/wOIn7Aer2JPr/bD+YMRUd+IOK6Y+bTD75a/xCnqUe6jOaDVzdbtqX+aUFm6eXm68wyjkZWaU7KCIeydxo92tK/4fbtX3i3ogaoDblzdmvQx7Bcy/X5tMqHfYeao0vdf/lzThZDop1fwIjXsabuUjhOIde2BK4phkEFnAozi23/nCpg+8cAkd3RIv3Gi/RgM6VLypjgfhjoe/92A2o8N8SpregGujsRtLqWRCqvEDckCIuFCaEdKqs7SNVVgVYR49FWdPRlw==</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>

    <appSettings xdt:Transform="Remove" />
  <!-- DON'T ADD APP SETTINGS HERE ! THEY BELONG IN MAPCALL PROPER -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.webServer>
    <modules>
      <add xdt:Transform="Remove" xdt:Locator="Match(name)" name="DeleporterServerModule" />
    </modules>
  </system.webServer>
  <log4net xdt:Transform="Replace">
    <appender name="Work1ViewAppender" type="log4net.Appender.RollingFileAppender">
      <file value="c:\web\logs\work1view\api_work1view.txt" />
      <appendToFile value="true"/>
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="8" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="-MapCallAPI-" />
        <acceptOnMatch value="true" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="Work1ViewAppender" />
    </root>
    <logger name="NHibernate">
      <level value="ERROR" />
    </logger>
    <logger name="NHibernate.SQL">
      <level value="ERROR" />
    </logger>
  </log4net>
</configuration>
