@model MapCallMVC.Areas.ProjectManagement.Models.ViewModels.CreateInvestmentProject

@using (Form.BeginForm("Create", "InvestmentProject", "ProjectManagement"))
{
    <div class="field-column fc200">
        @Html.Partial("_Form")
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Save")
            @Html.LinkButton("Cancel", "Search")
        </text>)
    </div>
}