@model GradientViewModel

@using (Form.BeginForm("Update", "Gradient", new { Model.Id }))
{
    <div class="field-column fc200">
        @Html.Partial("_Form")
        @Html.ButtonGroup(@<text>
                              @Control.SubmitButton("Save")
                              @Html.LinkButton("Cancel", "Show", "Gradient", new { Model.Id })
                           </text>)
    </div>
}